$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

.imgQuotes{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin: 40px 10px 0 10px;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;

    @include smallPhone(){
        height: 40vh;
        margin: 20px 0 0 0;
    }


    i{
        display: 15px;
        color: #fff;
        margin: 5px;
    }

    .txt1{
        display: flex;
        font-size: 15px;
        font-weight: 500;
        color: #fff;
        text-align: center;
        margin: 2px 0 0 0;
    }

    .txt2{
        display: flex;
        font-size: 12px;
        color: #fff;
        text-align: center;
        margin: 10px 0 0 0;
    }
}
// END Img
