@import "../../utilities/variable/variables.scss";


.page-item:first-child .page-link {
    border-radius: 0;
}

.page-item:last-child .page-link {
    border-radius: 0;
}

.page-link {
    border: none;
    background-color: transparent;
    color: $colors;
    // margin: 2rem;
    margin: .5rem;
    padding: 0;
    border-radius: 50%;

    transition: .5s;
    &:hover {
        color: #ffffff;
        width: 1.5rem;
        height: 1.5rem;
        background-color: $colors;
        border: none;
        
    }

    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(216,0,16,.5);
    }
}

.prevnext {
    &:hover {
        border-radius: 0;
        border: none;
        // border: 5px solid green;
    }
}

.page-item .page-link {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    text-align: center;
    font-size: 10pt;
}

.page-item.active {
    // width: 20px;
    // height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-item.active .page-link {
    border-radius: 50%;
    background-color: $colors;
    font-size: 10pt;
    width: 1.5rem;
    text-align: center;
    height: 1.5rem;
    border-color: $colors;
    
}