$colors : #d80010;
$black : #252525;
$white : #fff;
$darkRed : #960001;
$darkRedTwo : #a70000;
$lightRed : #c60605;
$accent : #ffff;
$secondRed : #ba0003;
$brown : #100000;
$black : #000;

$padding : 40px 10%;
$paddingSmall : 10px 10%;
$paddingTiny : 5px 10%;
$paddingMobile : 0 2%;

$margin : 10px 10px;
