<div class="cardMedia">
    <div class="siaranLangsung mediaCard">
        <img src="" alt="" width="35" class="imgCards" />
        <small class="smallCard">{text}</small>
    </div>
    <div class="videoDokumentasi mediaCard">
        <img src="" alt="" width="35" class="imgCards" />
        <small class="smallCard">{text2}</small>
    </div>
    <div class="videoInteraktif mediaCard">
        <img src="" alt="" width="35" class="imgCards" />
        <small class="smallCard">{text3}</small>
    </div>
    <div class="siaranPers mediaCard">
        <img src="" alt="" width="35" class="imgCards" />
        <small class="smallCard">{text4}</small>
    </div>
</div>
)
}