<!-- satria -->

<!-- {/* CARD PROFIL */} -->
<div class="cardIconProfil">
    <div class="cardProfileSatu cardProfile">
        <img src="" alt="" width="50" />
        <small class="textCardProfil textSatu">Struktur PPDI PDI Perjuangan</small>
    </div>
    <div class="cardProfileDua cardProfile">
        <img src="" alt="" width="46" />
        <small class="textCardProfil textDua">visi / misi</small>
    </div>
    <div class="cardProfileTiga cardProfile">
        <img src="" alt="" width="42" />
        <small class="textCardProfil textTiga">prosedur pelayanan</small>
    </div>
    <div class="cardProfileEmpat cardProfile">
        <img src="" alt="" width="33" />
        <small class="textCardProfil textEmpat">regular PPDI</small>
    </div>
</div>
<!-- {/* END */} -->