
            <div class="wrapperPemilu">
                <div class="headers">
                    <div class="backgrounds">
                        <div class="textBackgroundBerita">
                        </div>
                    </div>
                </div>
                <div class="linkedBerita">
                    <i class="fa fa-home">
                        <span>Home / Pemilu</span>
                    </i>
                </div>

                <!-- {/* Container1 */} -->
                <div class="container-1">
                    <!-- {/* Column1 */} -->
                    <div class="col1-container-1">
                        <!-- {/* Row1 */} -->
                        <div class="row1-col1">
                            <!-- {/* Bagian1 */} -->
                            <div class="bagian1">
                                <!-- {/* Image 1 */} -->
                                <CarouselPemilu1 />
                                <!-- {/* END Image 1 */} -->
                            </div>
                            <!-- {/* END Bagian1 */} -->

                            <!-- {/* Bagian2 */} -->
                            <div class="bagian2">
                                <!-- {/* Image 2 */} -->
                                <CarouselPemilu2 />
                                <!-- {/* END Image 2 */} -->
                            </div>
                            <!-- {/* END Bagian2 */} -->
                        </div>
                        <!-- {/* END Row1 */} -->

                        <!-- {/* Row2 */} -->
                        <div class="row2-col1">
                            <!-- {/* Row Bagian1 */} -->
                            <div class="row-bagian1">
                                <div class="garis-pinggir-merah">

                                </div>
                            </div>
                            <!-- {/* END Row Bagian1 */} -->

                            <!-- {/* Row Bagian2 */} -->
                            <Carousel3PemiluPage />
                            <!-- {/* END Row Bagian2 */} -->
                        </div>
                        <!-- {/* END Row2 */} -->
                    </div>
                    <!-- {/* END Column1 */} -->

                    <!-- {/* Column2 */} -->
                    <div class="col2-container-1">
                        <!-- {/* Row1 */} -->
                        <div class="row1-col2">
                            <div class="col1-row1">
                            </div>
                            <div class="col2-row1">
                                <p class="txt-title">
                                    PEMILIHAN KEPALA DAERAH SERRENTAK
                                </p>
                                <p class="txt-desk">
                                    Harta kekayaan pengurus PDI Perjuangan yang menjadi pejabat negara dilaporkan kepada Komisi Pemberantasan Korupsi [KPK].
                                </p>
                            </div>
                        </div>
                        <!-- {/* END Row1 */} -->

                        <!-- {/* Row2 */} -->
                        <div class="row2-col2">
                            <div class="col1-row2">
                            </div>
                            <div class="col2-row2">
                                <p class="txt-title">
                                    PEMILIHAN CALON LEGISLATIF PDI PERJUANGAN
                                </p>
                                <p class="txt-desk">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque eaque fugiat provident voluptates at dignissimos error ex, similique asperiores odit.
                                </p>
                            </div>
                        </div>
                        <!-- {/* END Row2 */} -->
                    </div>
                    <!-- {/* END Column2 */} -->
                </div>
                <!-- {/* END Container1 */} -->

                <!-- {/* Container2 */} -->
                <div class="container-2">
                    {/* <img src={pemilu5} alt="" /> */}
                    <div class="jdl-col1">
                        <div class="box-txt-jdl">
                            <p class="txt-jdl">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eaque mollitia assumenda architecto facilis et deleniti iste alias autem quo exercitationem!
                            </p>
                        </div>
                    </div>
                    <div class="btn-col2">
                        <button class="btn-lihat">
                            Lihat
                        </button>
                    </div>
                </div>
                <!-- {/* END Container2 */} -->

                <!-- {/* Container3 */} -->
                <div class="container-3">
                    <iframe width="80%" height="100%" src="https://www.youtube.com/embed/FquQvej9l8I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <!-- {/* END Container3 */} -->
            </div>
        </>
    )
}