<!-- ----CEPOT--- -->

<div class="wrapperPartai">

    <!-- {/* HEADERS */} -->
    <div class="headers">
        <div class="backgrounds">
            <div class="textBackgroundPartai">
                <h2>Solid Bergerak Untuk<br />Indonesia Raya </h2>
            </div>
        </div>
    </div>
    <!-- {/* END */} -->

    <!-- {/* a PARTAI */} -->
    <div class="aedPartai">
        <!-- <BreadCrumbs a1="Home"
                        to1="/"
                        page2="Partai"
                         /> -->
    </div>
    <!-- {/* END */} -->

    <!-- {/* CONTAINER SATU */} -->
    <div class="containerSatu">
        <div class="contentSatu">
            <div class="col col-lg-4">
                <div class="wrapperContentSatu">
                    <div class="col-md-3">
                        <img src={partaiSatu} alt="" width="60" />
                        <div class="textContent textContentSatu">
                            <h4>AD/ART<br />PDI Perjuangan</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias inventore nobis
                                doloremque.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src={partaiDua} alt="" width="60" />
                        <div class="textContent textContentDua">
                            <h4>Peraturan<br />PDI Perjuangan</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias inventore nobis
                                doloremque.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src={partaiTiga} alt="" width="60" />
                        <div class="textContent textContentTiga">
                            <h4>Piagam<br />PDI Perjuangan</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias inventore nobis
                                doloremque.</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <img src={partaiEmpat} alt="" width="60" />
                        <div class="textContent textContentTiga">
                            <h4>Visi &<br />Misi</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias inventore nobis
                                doloremque.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col col-lg-8">
                <div class="wrapperCarousel">

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval={0}>
                        <ol class="carousel-indicators carouselPartai">
                            <li data-target="#carouselExampleIndicators" data-slide-to={0} class="active" />
                            <li data-target="#carouselExampleIndicators" data-slide-to={1} />
                            <li data-target="#carouselExampleIndicators" data-slide-to={2} />
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="carouselImgSatu"></div>
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus et fuga
                                        sit.</h3>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carouselImgSatu">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                                        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus et fuga
                                            sit.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carouselImgSatu">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                                        <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus et fuga
                                            sit.</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- {/* END */} -->

    <!-- <MusicPdi/> -->

    <!-- {/* CONTAINER TIGA */} -->
    <div class="containerTiga">
        <div class="col-lg-3">
            <img src={pdiLogo} alt="" width="180" />
        </div>
        <div class="col-lg-9 textBanteng">
            <h1>TATA KELOLA PDI PERJUANGAN</h1>
            <ul>
                <li>Lambang PDI Perjuangan berupa gambar banteng hitam bermoncong putih dengan latar merah di dalam
                    lingkaran bergaris hitam dan putih.</li>
                <li>Warna dasar merah melambangkan berani mengambil resiko dalam memperjuangkan keadilan dan kebenaran
                    untuk rakyat.</li>
                <li>Mata merah dengan pandangan tajam melambangkan selalu waspada terhadap ancaman dalam berjuang.</li>
                <li>Moncong putih melambangkan dapat dipercaya dan berkomitmen dalam memperjuangkan keadilan dan
                    kebenaran</li>
                <li>Lingkaran melambangkan tekad yang bulat dan perjuangan yang terus-menerus tanpa terputus</li>
            </ul>
        </div>
    </div>
    <!-- {/* END */} -->
    <div class="btnUnduh">
        <MainButton name="Unduh Lambang" />
    </div>
    <!-- {/* PENGURUS */} -->
    <div class="pengurusPage">
        <MainDivider text="pengurus" garisMerah="3rem" />
        <div class="paragrapPengurus">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, fugiat consequuntur dicta quam sequi
                facere eligendi voluptatibus aliquid, maiores repellat illum quos? Assumenda, soluta? Totam?</p>
        </div>
    </div>
    <!-- {/* END */} -->

    <!-- {/* PHOTO PENGURUS */} -->
    <div class="photoPengurus">
        <h2>Struktur Pengurus Dewan Pimpinan Pusat<br />PDI Perjuangan</h2>
        <a class="btn lihat" href="/struktur"><span>lihat</span></a>
    </div>
    <!-- {/* END */} -->

    <!-- {/* MAPS */} -->
    <div class="maps">
        <h5>dewan pimpinan daerah pdi perjuangan</h5>
        <a as="div" class="imageMaps" href="" href="/dpd"></a>
    </div>
    <!-- {/* END */} -->

    <!-- {/* ANGGOTA LEGISLATIF */} -->
    <div class="anggotaLegislatif">
        <h1>Anggota Legislatif</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia a voluptatem mollitia dolorum ea
            architecto, aliquid quidem fugit accusamus saepe ab repudiandae eos ipsum! Quaerat omnis dolores quidem
            reiciendis distinctio.</p>
        <div class="btnGroup">
            <!-- <MainButton name="DPR RI" margin="0 10px" />
                <MainButton name="DPRD Provinsi" margin="0 10px" />
                <MainButton name="DPRD Kabupaten Kota" margin="0 10px" /> -->
        </div>
    </div>
    <!-- {/* END */} -->
</div>