<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
  integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link
  href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
  rel="stylesheet">

  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
  <link
  href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
  rel="stylesheet">

  <link rel="stylesheet" href="./MainDivider.css">
  <link rel="stylesheet" href="./MainButton.css">
  <link rel="stylesheet" href="./MusicPdi.css">
  <link rel="stylesheet" href="./MusicMobile.css">
  <link rel="stylesheet" href="./BreadCrumbs.css">
  <link rel="stylesheet" href="./PartaiPage.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="wrapperPartai">
    <div class="headers">
        <div class="backgrounds">
            <div class="textBackgroundPartai">
                <h2>Solid Bergerak Untuk<br/>Indonesia Raya </h2>
            </div>
        </div>
    </div>

    <div class="linkedPartai">
        <span class="wrapperBread">
        <ul class="breadcrumb" style="background: none;">
            <li><i class="fa fa-home customBread"></i></li>
            <li class="breadcrumb-item customBread"><a href="#">Home</a></li>
            <li style="color: #6c757d;" class="breadcrumb-item customBread">Partai</li>
        </ul>
    </span>
    </div>

    <div class="containerSatu">
        <div class="contentSatu">

            <div class="col col-lg-4">
                <div class="wrapperContentSatu">
                    <div class="col-md-3 mobileRow">
                        <img src="../../../img/partai1.png" alt="" width="60" class="imgMobilePartai" />
                        <div class="textContent textContentSatu">
                            <h4>AD/ART<br/>PDI Perjuangan</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias inventore nobis doloremque.</p>
                        </div>
                    </div>
                    <div class="col-md-3 mobileRow">
                        <img src="../../../img/partai2.png" alt="" width="60" class="imgMobilePartai" />
                        <div class="textContent textContentDua">
                            <h4>Peraturan<br/>PDI Perjuangan</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias inventore nobis doloremque.</p>
                        </div>
                    </div>
                    <div class="col-md-3 mobileRow">
                        <img src="../../../img/partai3.png" alt="" width="60" class="imgMobilePartai" />
                        <div class="textContent textContentTiga">
                            <h4>Piagam<br/>PDI Perjuangan</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias inventore nobis doloremque.</p>
                        </div>
                    </div>
                    <div class="col-md-3 mobileRow">
                        <img src="../../../img/partai4.png" alt="" width="60" class="imgMobilePartai" />
                        <div class="textContent textContentTiga">
                            <h4>Visi &<br/>Misi</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias inventore nobis doloremque.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col col-lg-8">
                <div class="wrapperCarousel">
                    
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators carouselPartai">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" >
                        <li data-target="#carouselExampleIndicators" data-slide-to="1" >
                        <li data-target="#carouselExampleIndicators" data-slide-to="2" >
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="carouselImgSatu"></div>
                            <div class="carousel-caption d-md-block">
                                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus et fuga sit.</h3>
                        </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carouselImgSatu">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus et fuga sit.</h3>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="carouselImgSatu">
                                <div class="carousel-caption d-none d-md-block">
                                    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
                                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus et fuga sit.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div class="musiPdi">
        <div class="containerDua">
            <div class="contentDua">
        <div class="col col-md-8 musicPlayer">
            <div class="wrapperContentMusic">
            <div class="contentMusic">
                <div class="col-sm-4">
                    <div class="plyr">
                        <div class="backplyr">
                            <div class="iconMusic">
                                <i class="fa fa-play"></i>
                            </div>
                        </div>
                    </div>
                    <div class="download">
                        <div class="partitur downloadContent">
                            <img src="../../../img/downloadSatu.png" alt="" width="35" />
                            <span class="downloadSpan">Download</span>
                        </div>
                        <div class="minusOn downloadContent">
                        <img src="../../../img/downloadDua.png" alt="" width="35" />
                        <span class="downloadSpan">Download</span>
                        </div>
                        <div class="minusOn downloadContent">
                        <img src="../../../img/downloadTiga.png" alt="" width="35" />
                        <span class="downloadSpan">Download</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="containerLirik">
                        <small>lagu perjuangan</small>
                        <span class="judulLagu" id="songTitle">
                            mars pdi perjuangan
                        </span>
                        <span class="lirik">lirik</span>
                        <p class="isiLirik">Atas Kasih dan Kehendak Yang Maha Pencipta<br/>Kita Telat Sepakat Bersatu<br/>Bersatu Dalam Satu Rampak Barisan<br/>Menentang Kemiskinan
                        <br/><br/>
                        Atas Rahmat dan Bimbingan Yang Maha Kuasa<br/>Kita Telah Bertekad Berjuang<br/>Berjuang untuk Satu Tujuan Mulia<br/>Mencapai Indonesia Sentosa
                        <br/><br/>
                        Bersama PDI Perjuangan<br/>Bersama PDI Perjuangan<br/>Wadah Kedaulatan Rakyat Indonesia<br/>Atas Berkat dan Kemurahan Yang Maha Esa<br/>PDI Perjuangan Jaya!
                        
                        Atas Kasih dan Kehendak Yang Maha Pencipta<br/>Kita Telat Sepakat Bersatu<br/>Bersatu Dalam Satu Rampak Barisan<br/>Menentang Kemiskinan
                        <br/><br/>
                        Atas Rahmat dan Bimbingan Yang Maha Kuasa<br/>Kita Telah Bertekad Berjuang<br/>Berjuang untuk Satu Tujuan Mulia<br/>Mencapai Indonesia Sentosa
                        <br/><br/>
                        Bersama PDI Perjuangan<br/>Bersama PDI Perjuangan<br/>Wadah Kedaulatan Rakyat Indonesia<br/>Atas Berkat dan Kemurahan Yang Maha Esa<br/>PDI Perjuangan Jaya! </p>
                    </div>
                </div>
            </div>
                <div class="col-md-12 playerMusic">
                    <div class="wrapperPlayerMusic">
                        <div class="playButton">
                            <div class="playbtn" id="play-btn" >
                                <i class="fa fa-play"></i>
                            </div>
                        </div>
                        <div class="playMusic">
                            <audio id="player" class="audio-wrapper">
                                <source src="http://www.lukeduncan.me/oslo.mp3" type="audio/mp3" />
                            </audio>
                            <div class="judulPlay">
                            <h5 class="judulPlays">{judul}</h5>
                            <i class="fa fa-heart"></i>
                            </div>
                            <input type="range" id="songSlider" class="song-slider" min="0" step="1" />
                            <div class="iconsPlay">
                                <i class="fa fa-play"><span class="textPlay">0</span></i>
                                <i class="fa fa-heart"><span class="textPlay">0</span></i>
                                <i class="fa fa-comment"><span class="textPlay">0</span></i>
                                <div class="times">
                                    <span class="current-time time" id="currentTime">00:00 /</span>
                                    <span class="duration time" id="duration"> 00:00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
                <div class=" col-md-4 musicList">
                    <div class="headersList">
                        <img src="../../../img/laguperjuangan.png" alt="" width="75" />
                        <div class="textHeader">
                            <h4>Lagu<br/>Perjuangan</h4>
                        </div>
                    </div>
                    <div class="listMusic">
                        <div class="listSatu list">
                            <h5 class="judulList">Mars PDI Perjuangan</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, est totam. Et?</p>
                        </div>
                        <div class="listDua list">
                            <h5 class="judulList">Hymne PDI Perjuangan</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, est totam. Et?</p>
                        </div>
                        <div class="listTiga list">
                            <h5 class="judulList">Hymne PDI Perjuangan</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, est totam. Et?</p>
                        </div>
                        <div class="listEmpat list">
                            <h5 class="judulList">Hymne PDI Perjuangan</h5>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, est totam. Et?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="musicPdiMobile">
        <div class="wrapperMobileMusic">
            <div class="headlineMusic">
                <img src="../../../img/laguperjuangan.png" alt="" width="70" />
                <span class="headlineText">Lagu Perjuangan</span>
            </div>
            <div class="judulMusic">
                <h6 class="judul" >Mars PDI Perjuangan</h6>
                <span class="judulDesc" >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium, numquam?</span>
            </div>
            <div class="lirikMobile">
                <div class="lirikMobileContainer">
                    <span>LIRIK</span>
                    <div class="wrapperLirik">
                        <span class="liriks">Atas Kasih dan Kehendak Yang Maha Pencipta<br/>Kita Telah Sepakat Bersatu<br/>Bersatu Dalam Rampak Barisa<br/>Menentang Kemiskinan</span>
                        <span class="liriks">Atas Rahmat dan Bimbingan Yang Maha Kuasa<br/>Kita Telah Bertekad Berjuang<br/>Berjuang untuk Satu Tujuan Mulia<br/>Mencapai Indonesia Sentosa</span>
                        <span class="liriks">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet ab sit nobis maxime. Nihil magni, illo voluptate quibusdam quaerat necessitatibus doloremque veritatis fugit reiciendis, numquam praesentium, error autem adipisci blanditiis.</span>
                    </div>
                </div>
            </div>
            <div class="wrapperDownload">
                <img src="../../../img/downloadSatu.png" alt="" width="50" />
                <img src="../../../img/downloadDua.png" alt="" width="50" />
                <img src="../../../img/downloadTiga.png" alt="" width="50" />
            </div>
            <div class="playlist">
                <div class="playlistSatu playlistCustom">
                    <strong>Hymne PDI Perjuangan</strong>
                    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, vitae.</span>
                </div>
                <div class="playlistDua playlistCustom">
                    <strong>Hymne PDI Perjuangan</strong>
                    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, vitae.</span>
                </div>
                <div class="playlistTiga playlistCustom">
                    <strong>Hymne PDI Perjuangan</strong>
                    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, vitae.</span>
                </div>
                <div class="playlistEmpat playlistCustom">
                    <strong>Hymne PDI Perjuangan</strong>
                    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt, vitae.</span>
                </div>
            </div>
            <div class="playMusicMobile">
                <div class="player-track">
                    <div class="time" ></div>
                    <div class="progress-bar">
                        <div class="fillBar" ></div>
                    </div>
                </div>
                <div class="playerControl">
                    <i class="fa fa-backward" id="prev"></i>
                    <i class="fa fa-play" id="play"></i>
                    <i class="fa fa-forward" id="next"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="containerTiga">
        <div class="col-lg-3">
                <img src="../../../img/pdibanteng.png" alt="" width="180" />
        </div>
        <div class="col-lg-9 textBanteng">
            <h1>TATA KELOLA PDI PERJUANGAN</h1>
            <ul>
                <li>Lambang PDI Perjuangan berupa gambar banteng hitam bermoncong putih dengan latar merah di dalam lingkaran bergaris hitam dan putih.</li>
                <li>Warna dasar merah melambangkan berani mengambil resiko dalam memperjuangkan keadilan dan kebenaran untuk rakyat.</li>
                <li>Mata merah dengan pandangan tajam melambangkan selalu waspada terhadap ancaman dalam berjuang.</li>
                <li>Moncong putih melambangkan dapat dipercaya dan berkomitmen dalam memperjuangkan keadilan dan kebenaran</li>
                <li>Lingkaran melambangkan tekad yang bulat dan perjuangan yang terus-menerus tanpa terputus</li>
            </ul>
        </div>
    </div>

        <div class="btnUnduh">
            <a class="btn btn2" href="">Unduh Lambang</a>
        </div>

        <div class="pengurusPage">

            <div class="col3-container-3" style="margin: 2rem 0;">
                <div class="box-jdl-col3">
                    <p class="txt-jdl-col3">
                        berita
                    </p>
                </div>
                <div class="box-garis-lurus-col3">
                    <div class="garis-merah" style="width: 100px;">
    
                    </div>
                </div>
            </div>

            <div class="paragrapPengurus">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, fugiat consequuntur dicta quam sequi facere eligendi voluptatibus aliquid, maiores repellat illum quos? Assumenda, soluta? Totam?</p>
            </div>
        </div>

        <div class="photoPengurus">
            <h2>Struktur Pengurus Dewan Pimpinan Pusat<br/>PDI Perjuangan</h2>
            <a class="btn lihat" href="#struktur"><span>lihat</span></a>
        </div>

        <div class="maps">
            <h5>dewan pimpinan daerah pdi perjuangan</h5>
            <a class="imageMaps" href="" href="#dpd" ></a>
        </div>

        <div class="anggotaLegislatif">
            <h1>Anggota Legislatif</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia a voluptatem mollitia dolorum ea architecto, aliquid quidem fugit accusamus saepe ab repudiandae eos ipsum! Quaerat omnis dolores quidem reiciendis distinctio.</p>
            <div class="btnGroup">
                <a class="btn btn2" href="" style="margin: 0 10px;">DPR RI</a>
                <a class="btn btn2" href="" style="margin: 0 10px;">DPRD Provinsi</a>
                <a class="btn btn2" href="" style="margin: 0 10px;">DPRD Kabupaten</a>

            </div>
        </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>