.dpdWrapper .dpdHead {
    background: url(../../img/kampanye.jpg);
    background-size: cover;
    height: 25vh;
    background-position: center;
  }
  
  @media (max-width: 500px) {
    .dpdWrapper .dpdHead {
      height: 20vh;
    }
  }
  
  @media (max-width: 400px) {
    .dpdWrapper .dpdHead {
      height: 15vh;
    }
  }
  
  .dpdWrapper .dpdHead .backDpd {
    background-color: rgba(255, 0, 8, 0.8);
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
  }
  
  .dpdWrapper .dpdHead .backDpd .textDpdHead {
    width: 30%;
    height: 50%;
    margin-left: 13rem;
  }
  
  @media (max-width: 500px) {
    .dpdWrapper .dpdHead .backDpd .textDpdHead {
      width: auto;
      margin-left: 0;
      padding: 0 10%;
    }
  }
  
  @media (max-width: 400px) {
    .dpdWrapper .dpdHead .backDpd .textDpdHead h2 {
      font-size: 15pt;
    }
  }
  
  .dpdWrapper .linkedDetail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 40%;
    margin-top: 20px;
    padding: 40px 10%;
  }
  
  @media (max-width: 500px) {
    .dpdWrapper .linkedDetail {
      width: 100%;
      padding: 0 2%;
    }
  }
  
  .dpdWrapper .pengurus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 10%;
  }
  
  @media (max-width: 500px) {
    .dpdWrapper .pengurus {
      padding: 0 2%;
    }
  }
  
  .dpdWrapper .pengurus .dpdTextHead {
    margin: 2rem 0;
    text-align: center;
    font-weight: bold;
    color: #000000;
  }
  
  @media (max-width: 500px) {
    .dpdWrapper .pengurus .dpdTextHead h1 {
      font-size: 15pt;
    }
  }
  
  @media (max-width: 400px) {
    .dpdWrapper .pengurus .dpdTextHead h1 {
      font-size: 13pt;
    }
  }
  
  .dpdWrapper .pengurus .profilDpd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 40px 10%;
  }
  
  @media (max-width: 500px) {
    .dpdWrapper .pengurus .profilDpd {
      padding: 0 2%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  
  .dpdWrapper .pengurus .profilDpd .kolum1 {
    width: 30vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  @media (max-width: 500px) {
    .dpdWrapper .pengurus .profilDpd .kolum1 {
      width: 100%;
    }
  }
  
  .dpdWrapper .pengurus .profilDpd .kolum1 .textDpd {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 70%;
  }
  
  @media (max-width: 500px) {
    .dpdWrapper .pengurus .profilDpd .kolum1 .textDpd {
      text-align: center;
    }
  }
  
  .dpdWrapper .pengurus .profilDpd .kolum1 .textDpd .dpdText {
    margin: 10px;
  }
  
  @media (max-width: 500px) {
    .dpdWrapper .pengurus .profilDpd .kolum1 .textDpd .dpdText {
      margin: 5px;
    }
  }
  
  .dpdWrapper .pengurus .profilDpd .kolum1 .textDpd .dpdText small {
    color: #d80010;
    font-size: 8pt;
  }
  
  .dpdWrapper .pengurus .profilDpd .kolum1 .textDpd .dpdText h6 {
    font-weight: bold;
    font-size: 10pt;
    text-transform: uppercase;
  }
  
  .dpdWrapper .pengurus .profilDpd .kolum2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
  }
  
  .dpdWrapper .pengurus .profilDpd .kolum2 .peta {
    width: 100%;
    height: 37vh;
    border-radius: 10px;
    background-color: #a0000b;
  }
  
  .dpdWrapper .pengurus .profilDpd .kolum2 .descPeta {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  @media (max-width: 500px) {
    .dpdWrapper .pengurus .profilDpd .kolum2 .descPeta {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
    }
  }
  
  .dpdWrapper .pengurus .profilDpd .kolum2 .descPeta .dpc {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .dpdWrapper .pengurus .profilDpd .kolum2 .descPeta small {
    font-size: 8pt;
  }
  
  .dpdWrapper .pengurus .profilDpd .kolum2 .descPeta .small {
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  /*# sourceMappingURL=Dpd.css.map */