<!-- ----CEPOT---- -->

<div class="dpdWrapper">
    <!-- {/* HEADERS */} -->
    <div class="dpdHead">
        <div class="backDpd">
            <div class="textDpdHead">
                <h2>Solid Bergerak Untuk<br />Indonesia Raya </h2>
            </div>
        </div>
    </div>
    <!-- {/* END */} -->

    <!-- {/* LINK PARTAI */} -->
    <div class="linkedDetail">
        <i class="fa fa-home">
            <span>Home / Partai /</span>
        </i>
    </div>
    <!-- {/* END */} -->

    <div class="pengurus">
        <div class="textPengurus">
            <small>Pengurus</small>
        </div>
        <div class="dpdTextHead">
            <h1>Dewan Pimpinan Daerah PDI Perjuangan<br />Provinsi Bali</h1>
        </div>
        <div class="profilDpd">
            <div class="kolum1">
                <img src={image} alt="" width="200" />
                <div class="textDpd">
                    <div class="alamat dpdText">
                        <small class="alamatText">Alamat</small>
                        <h6 class="namaProfil">Jl. Banteng Baru kelurahan no.4, renon, kec. denpasar sel., kota
                            denpasar, bali 80234</h6>
                    </div>
                    <div class="telpon dpdText">
                        <small class="smallTanggal">Telepon</small>
                        <h6 class="tanggal">(0361) 233630</h6>
                    </div>
                    <div class="ketua dpdText">
                        <small class="agamaHead">Ketua</small>
                        <h6 class="text">DR. ir. Wayan koster, MM</h6>
                    </div>
                    <div class="sekretaris dpdText">
                        <small class="emailHead">Sekretaris</small>
                        <h6 class="emailText">i gusti ngurah jaya negara, se</h6>
                    </div>
                    <div class="bendahara dpdText">
                        <small class="emailHead">Bendahara</small>
                        <h6 class="emailText">ni putu cynthta indraningsing, ba-e-h</h6>
                    </div>
                </div>
            </div>
            <div class="kolum2">
                <div class="peta"></div>
                <div class="descPeta">
                    <h6 class="dpc">DPC PDI perjuangan kota denpasar</h6>
                    <small>Ketua</small>
                    <small class="ketua1 small">I gusti Ngurah gede, sh</small>
                    <small>sekretaris</small>
                    <small class="sekretaris1 small">I kadek agus arya wibawa, se, mm</small>
                    <small>bendahara</small>
                    <small class="bendahara1 small">I ketut suteja kumara, st</small>
                    <h6 class="dpc">DPC PDI Perjuangan kabupaten badung</h6>
                    <small>Ketua</small>
                    <small class="ketua2 small">I nyoman giri prasta, S.sos</small>
                    <small>sekretaris</small>
                    <small class="sekretaris2 small">Dr. drs. i putu parwata MK, MM</small>
                    <small>bendahara</small>
                    <small class="bendahara2 small">i nyoman dirga yusa, se</small>
                    <h6 class="dpc">DPC PDI Perjuangan kabupaten tabanan</h6>
                    <small>Ketua</small>
                    <small class="ketua3 small">Dr. i komang gede sanjaya, se., mm</small>
                    <small>sekretaris</small>
                    <small class="sekretaris3 small">i nyoman arnawa, sos</small>
                    <small>bendahara</small>
                    <small class="bendahara3 small">a. a. nyoman dharma putra, s.sos</small>
                </div>
            </div>
        </div>
    </div>
</div>