<div class="wrapperMultimedia">
    <div class="headerMedia">
        <div class="textBannerMedia">
            <h2>Lorem ipsum dolor<br />sit amet consectetur<br />adipisicing elit.</h2>
        </div>
    </div>
    <div class="linkedMedia">
        <!-- <BreadCrumbs link1="Home"/> -->
        to1="/"
        page2="Multimedia"
    </div>
    <div class="pidatoKU">
        <div class="col-lg-9">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/4Y9vU1dCk78" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-lg-3">
            <small>Admin PDI Perjuangan | 1 Januari 2019</small>
            <span>Megawati Soekarnoputri,<br />Ketua Umum PDI Perjuangan</span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Assumenda, ullam dicta architecto hic expedita,
                harum tempore quae sunt obcaecati aperiam placeat praesentium rem voluptatibus quibusdam qui nesciunt
                non illo! Magni.</p>
            <div class="socialMedia">
                <small>SHARE : </small>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-whatsapp"></i>
            </div>
        </div>
    </div>

    <!-- <CardInformasi image={multimediaSatu} /> -->
    image2={multimediaDua}
    image3={multimediaTiga}
    image4={multimediaEmpat}
    text="siaran langsung"
    text2="video dokumentasi"
    text3="video teaser"
    text4="wawancara"

    <div class="panggung">
        <div class="textPanggung">
            <h1 class="panggungH1">Siaran Langsung Pembukaan Rakernas I<br />PDI Perjuangan</h1>
            <!-- <MainButton name="kunjungi" /> -->
        </div>
    </div>

    <div class="cardMediaDua">
        <!-- <Cards imageCard={perempuan} />-->
        textSmall="Admin PDI Perjuangan | 1 Januari 2019"
        TextH5="Lorem ipsum dolor, sit amet consectetur adipisicing."
        borderRadius="10px"
        <!-- <Cards imageCard={megawati12} /> -->
        textSmall="Admin PDI Perjuangan | 1 Januari 2019"
        TextH5="Lorem ipsum dolor, sit amet consectetur adipisicing."
        borderRadius="10px"
        icons="fa fa-play"
        classIcon="VBMusic"
        <!-- <Cards imageCard={perempuan}/> -->
        textSmall="Admin PDI Perjuangan | 1 Januari 2019"
        TextH5="Lorem ipsum dolor, sit amet consectetur adipisicing."
        borderRadius="10px"
    </div>



    <div class="videoBaruPage">
        <!-- <MainDivider text="Video Terbaru" /> -->
        <div class="cardVideoBaru">
            <!-- <Cards imageCard={megawati1} /> -->
            textSmall="Admin PDI Perjuangan | 1 Januari 2019"
            TextH5="Lorem ipsum dolor, sit amet consectetur adipisicing."
            borderRadius="10px"
            icons="fa fa-play"
            classIcon="VBMusic"
            href="/videomedia"
            <!-- <Cards imageCard={megawati2}/> -->
            textSmall="Admin PDI Perjuangan | 1 Januari 2019"
            TextH5="Lorem ipsum dolor, sit amet consectetur adipisicing."
            borderRadius="10px"
            icons="fa fa-play"
            classIcon="VBMusic"
            href="/videomedia"
            <!-- <Cards imageCard={megawati3}/> -->
            textSmall="Admin PDI Perjuangan | 1 Januari 2019"
            TextH5="Lorem ipsum dolor, sit amet consectetur adipisicing."
            borderRadius="10px"
            icons="fa fa-play"
            classIcon="VBMusic"
            href="/videomedia"
        </div>
    </div>
</div>
)
}