@import "../../utilities/variable/variables.scss";

$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}


.containerDua {
    padding: $padding;
    display: flex;
    justify-content: center;
    align-items: center;
    @include smallPhone() {
        display: none;
    }

    @include smallPhone() {
        padding: 0 2%;
        flex-direction: column;
        border: 1px solid blue;
    }

    .contentDua {
        // border: 1px solid blue;
        width: 100%;
        height: 100%;
        display: flex;
        border-radius: 10px;
        @include smallPhone() {
            flex-direction: column;
        }

    .wrapperContentMusic {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        background: $lightRed;
        // border: 1px solid blue;
        .contentMusic {
            width: 100%;
            height: 100%;
            display: flex;

            // flex-direction: row;
            // align-items: center;
            
            padding: 2.5rem 7%;
            // border: 1px solid green;

            .col-sm-4 {
    .plyr {
        width: 100%;
        height: 6.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        background: url(../../img/megawati10.png);

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        

        .backplyr {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .5s;
            
            &:hover {
                background: rgba(0, 0, 0, .7);
            }

            .iconMusic {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #ffffff;
                border-radius: 50%;
                text-align: center;
                cursor: pointer;
                font-size: 14pt;
                transition: .1s;

                &:hover {
                    width: 45px;
                    height: 45px;
                    font-size: 16pt;
                    background: #2d3436;
                    color: #ffffff;
                }
                i {
                    margin-left: 2px;
                    transition: .2s;
                }
            }
        }
    }
            .download {
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                // border: 1px solid blue;
                width: 100%;
                height: 40vh;
                .downloadContent {
                    // margin: 1.5rem;
                    padding: 1rem;
                    flex-direction: row;
                    display: flex;
                    align-items: center;
    
                    img {
                        cursor: pointer;
                    }

                    .downloadSpan {
                        margin-left: 1rem;
                        color: #ffffff;
                        font-family: 'Open Sans';
                        font-weight: 700;
                    }
                }
            }
            
        }

        .col-sm-8 {
            // border: 1px solid green;
            
            margin-left: 2rem;

            .containerLirik {
                display: flex;
                flex-direction: column;
                // color: #ffffff;
                
                small {
                    text-transform: uppercase;
                    color: rgba(255, 255, 255, 0.5);
                    font-size: 9pt;
                    letter-spacing: .8;
                }

                .judulLagu {
                    font-size: 15pt;
                    text-transform: uppercase;
                    color: #ffffff;
                    letter-spacing: .8px;
                    font-weight: 300;
                }

                .lirik {
                    color: #ffffff;
                    text-transform: uppercase;
                    font-size: 10pt;
                    font-weight: 700;
                    margin-top: 1rem;

                }
                p {
                    font-size: 10pt;
                    letter-spacing: .8px;
                    margin-top: 1rem;
                    height: 50vh;
                    // border: 1px solid blue;
                    overflow: scroll;
                    color: #ffffff;
                    overflow-x: hidden;
                }
                p::-webkit-scrollbar {
                    display: none;
                }
            }
        }
    }

        .playerMusic {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0px 7% 2.5rem 7%;
            
            .wrapperPlayerMusic {
                width: 90%;
                height: 15vh;
                display: flex;
                flex-direction: row;


                .playButton {
                    width: 20%;
                    height: 100%;
                    background: $darkRed;
                    padding: 1rem 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .playbtn {
                        border-radius: 50%;
                        // background: #ffffff;
                        border: 1px solid #ffffff;
                        width: 30px;
                        height: 30px;
                        cursor: pointer;
                        text-align: center;
                        position: relative;
                        color: #ffffff;
                        transition: .3s;

                        &:hover {
                            background-color: #ffffff;
                            color: $colors;
                        }

                        i {
                            position: absolute;
                            top: 20%;
                            left: 30%;
                        }
                    }
                }
                .playMusic {
                    display: flex;
                    flex-direction: column;
                    width: 80%;
                    height: 100%;
                    background: #ffffff;
                    padding: 1rem;

                    .judulPlay {
                        padding: 5px;

                        position: relative;
                        // border: 1px solid blue;
                        display: flex;
                        flex-direction: row;
                        
                        
                        .judulPlays {
                            font-size: 10pt;
                        }

                        i {
                            color: $colors;
                            position: absolute;
                            right: 0;
                            font-size: 9pt;
                            margin-right: 5px;
                            cursor: pointer;
                        }
                    }
                    .iconsPlay {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        padding: 5px 0;
                        align-items: center;
                        position: relative;

                        font-size: 7pt;

                        i {
                            color: #bbbbbb;
                            margin: 0 .3rem;

                            span {
                                margin: 0 .3rem;
                            }
                        }
                        .times {
                            position: absolute;
                            right: 0;
                        }
                    }

                    input[type=range].song-slider {
                        height: 12px;
                        -webkit-appearance: none;
                        margin: 10px 0;
                        width: 100%;
                    }
                    input[type=range].song-slider:focus {
                    outline: none;
                    }
                    input[type=range].song-slider::-webkit-slider-runnable-track {
                    width: 100%;
                    height: 1px;
                    cursor: pointer;
                    box-shadow: 0px 0px 0px #000000;
                    background: rgba(189, 195, 199,0.8);
                    border-radius: 5px;
                    border: 0px solid #000000;
                    }
                    input[type=range].song-slider::-webkit-slider-thumb {
                    box-shadow: 0px 0px 1px #000000;
                    border: 0px solid #000000;
                    height: 6px;
                    width: 6px;
                    border-radius: 50px;
                    background: #D80010;
                    cursor: pointer;
                    -webkit-appearance: none;
                    margin-top: -2.5px;
                    }
                    input[type=range].song-slider:focus::-webkit-slider-runnable-track {
                    background: rgba(189, 195, 199,0.5);
                    }
                    input[type=range].song-slider::-moz-range-track {
                    width: 100%;
                    height: 1px;
                    cursor: pointer;
                    box-shadow: 0px 0px 0px #000000;
                    background: rgba(189, 195, 199,0.5);
                    border-radius: 5px;
                    border: 0px solid #000000;
                    }
                    input[type=range].song-slider::-moz-range-thumb {
                    box-shadow: 0px 0px 1px #000000;
                    border: 0px solid #000000;
                    height: 6px;
                    width: 6px;
                    border-radius: 50px;
                    background: #D80010;
                    cursor: pointer;
                    }
                    input[type=range].song-slider::-ms-track {
                    width: 100%;
                    height: 1px;
                    cursor: pointer;
                    background: transparent;
                    border-color: transparent;
                    color: transparent;
                    }
                    input[type=range].song-slider::-ms-fill-lower {
                    background: rgba(189, 195, 199,0.5);
                    border: 0px solid #000000;
                    border-radius: 10px;
                    box-shadow: 0px 0px 0px #000000;
                    }
                    input[type=range].song-slider::-ms-fill-upper {
                    background: rgba(189, 195, 199,0.5);
                    border: 0px solid #000000;
                    border-radius: 10px;
                    box-shadow: 0px 0px 0px #000000;
                    }
                    input[type=range].song-slider::-ms-thumb {
                    margin-top: 1px;
                    box-shadow: 0px 0px 1px #000000;
                    border: 0px solid #000000;
                    height: 6px;
                    width: 6px;
                    border-radius: 50px;
                    background: #D80010;
                    cursor: pointer;
                    }
                    input[type=range].song-slider:focus::-ms-fill-lower {
                    background: rgba(189, 195, 199,0.5);
                    }
                    input[type=range].song-slider:focus::-ms-fill-upper {
                    background: rgba(189, 195, 199,0.5);
                    }
                }
            }
        }
    }
        
        .musicList {
            display: flex;
            // border: 1px solid green;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background: #ffffff;
            flex-direction: column;
            // padding: 10px;

            .judulList {
                text-transform: uppercase;
            }

            .headersList {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: row;
                // margin: 0 10px;
                height: 20vh;
                border-top-right-radius: 10px;
                // border: 1px solid blue;
                background: $darkRed;
                color: $accent;
                img {
                    margin-right: 10px;
                    // border:  1px solid green;
                }
                .textHeader {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 10px;
                    h4 {
                        font-size: 18pt;
                        font-weight: 700;
                    }
                }
            }

            .listMusic {
                .listSatu {
                    height: 20vh;
                    display: flex;
                    justify-content: center;
                    color: #c70000;
                    width: 100%;
                    flex-direction: column;
                    padding: 15px 20px;
                    transition: .3s;
                    cursor: pointer;
                    &:hover {
                        background: $secondRed;
                        color: #ffffff;
                    }
                h5 {
                    font-size: 11pt;
                    &:nth-child(0) {
                        color: #9e0000;
                    }
                }
                p{
                    margin-top: 5px;
                    font-size: 9pt;
                    letter-spacing: .8px;
                    font-weight: 300;
                    
                }
                }
    
                .listDua {
                    color: #c70000;
                    height: 20vh;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    flex-direction: column;
                    padding: 15px 20px;
                    transition: .3s;
                    cursor: pointer;
                    &:hover {
                        background: $secondRed;
                        color: #ffffff;
                    }
                h5 {
                    font-size: 11pt;
                    &:nth-child(0) {
                        color: #9e0000;
                    }
                }
                p{
                    margin-top: 5px;
                    font-size: 8pt;
                    letter-spacing: .8px;
                    font-weight: 300;
                    
                }
                }
    
                .listTiga {
                    color: #c70000;
                    display: flex;
                    height: 20vh;
                    justify-content: center;
                    width: 100%;
                    flex-direction: column;
                    padding: 15px 20px;
                    transition: .3s;
                    cursor: pointer;
                    &:hover {
                        background: $secondRed;
                        color: #ffffff;
                    }
                h5 {
                    font-size: 11pt;
                    // color: #9e0000;
                    &:nth-child(0) {
                        color: #9e0000;
                    }
                }
                p{
                    margin-top: 5px;
                    font-size: 8pt;
                    letter-spacing: .8px;
                    font-weight: 300;
                    
                }
                }
                
                .listEmpat {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 20vh;
                    flex-direction: column;
                    padding: 15px 20px;
                    border-bottom-right-radius: 10px;
                    transition: .3s;
                    color: #c70000;
                    cursor: pointer;
                    &:hover {
                        background: $secondRed;
                        color: #ffffff;
                    }
                h5 {
                    font-size: 11pt;
                    // color: #9e0000;
                    &:nth-child(0) {
                        color: #9e0000;
                    }
                }
                p{
                    margin-top: 5px;
                    font-size: 8pt;
                    letter-spacing: .8px;
                    font-weight: 300;
                    
                }
                }
            }
        }
    }
}