<!-- uta -->


<div class="col col-lg-3 cardCustom" style="
     border-radius : borderRadius;
     width : width;
">

    <div class="imageCard" style="">

        <a as="div" class="VBMusic" href="" style="text-decoration:none">
            <i class=""></i>
        </a>
    </div>
    <div class="text">
        <small class="textSmall">textSmall</small>
        <h5 class="textH5" style="
        font-size: h5Font;
        font-weight: h5Weight;
    ">
        </h5>
        <p className="paragrap" style="font-size : paragrapSize;">
            paragraph
        </p>
    </div>
</div>