.wrapperKetuaUmum {
  width: 100%;
}

.wrapperKetuaUmum .headers {
  background: url(../../../img/pemilu8.jpg);
  background-size: cover;
  height: 25vh;
  background-position: center;
}

.wrapperKetuaUmum .headers .backgrounds {
  background-color: rgba(255, 0, 8, 0.1);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.wrapperKetuaUmum .headers .backgrounds .textBackgroundBerita {
  width: 30%;
  height: 50%;
  margin-left: 5rem;
}

.wrapperKetuaUmum .linkedBerita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  margin-top: 20px;
  padding: 10px 10%;
}

.wrapperKetuaUmum .container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 0 10%;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col1-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  background-image: url(../../../img//ketuaumum6.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col1-container-1 .cont-img-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col1-container-1 .cont-img-col1 .col1-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #fff;
}

.wrapperKetuaUmum .container-1 .col1-container-1 .cont-img-col1 .col1-img .box-txt-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col1-container-1 .cont-img-col1 .col1-img .box-txt-title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  color: #fff;
  padding: 25% 20% 20% 10%;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col1-container-1 .cont-img-col1 .col2-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
  width: 100%;
  background-color: rgba(216, 0, 16, 0.8);
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col1-container-1 .cont-img-col1 .col2-img .garis-strip-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 2.5px;
  width: 230px;
  background: #fff;
  border-radius: 2px;
  margin: -2px 0 0 65px;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col1-container-1 .cont-img-col1 .col2-img .box-txt-desk-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px 65px 0 65px;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col1-container-1 .cont-img-col1 .col2-img .box-txt-desk-col2 .txt-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: #fff;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col1-container-1 .cont-img-col1 .col2-img .box-txt-desk-col2 .txt-desk-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  width: 100%;
  background: #f3f3f3;
  margin: 20px 0 20px 0;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row1-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 25%;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row1-col2 .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 30%;
  background-image: url(../../../img/img1.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row1-col2 .txt-img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row1-col2 .txt-img1 .txt-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 1px 0 0 0;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row2-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 25%;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row2-col2 .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 30%;
  background-image: url(../../../img/img2.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row2-col2 .txt-img2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row2-col2 .txt-img2 .txt-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 1px 0 0 0;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row3-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 25%;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row3-col2 .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 30%;
  background-image: url(../../../img/img3.jpg);
  background-position: center;
  background-size: cover;
  margin: 1px 0 0 0;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row3-col2 .txt-img3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row3-col2 .txt-img3 .txt-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 1px 0 0 0;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row4-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 25%;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row4-col2 .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 30%;
  background-image: url(../../../img/ketuaumum5.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row4-col2 .box-img .img-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-size: cover;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row4-col2 .txt-img4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col2-container-1 .row4-col2 .txt-img4 .txt-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 1px 0 0 0;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .cardKetuaUmum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapperKetuaUmum .container-1 .col5-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65vh;
  width: 100%;
  margin: 30px 0 0px 0;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col5-container-1 .row1-video-youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 70%;
  margin: 0 30px 0px 0;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col5-container-1 .row1-video-youtube .img-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #555;
  overflow: hidden;
  z-index: -1;
}

.wrapperKetuaUmum .container-1 .col5-container-1 .row1-video-youtube .box-jdl-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  width: 100%;
  background: #d80010;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col5-container-1 .row1-video-youtube .box-jdl-row1 h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  color: #fff;
  padding: 20px;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col5-container-1 .row2-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 100%;
  width: 30%;
  background-image: url(../../../img/img4.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col5-container-1 .row2-img .col-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px 5px 20px;
  overflow: hidden;
}

.wrapperKetuaUmum .container-1 .col5-container-1 .row2-img .col-txt .jdl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin: 1px;
  overflow: hidden;
}

.wrapperKetuaUmum .container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 45vh;
  width: 100%;
  background: #555;
  margin: 50px 0 0px 0;
  overflow: hidden;
}

.wrapperKetuaUmum .container-2 .col1-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 70%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapperKetuaUmum .container-2 .col1-container-2 .txt-title-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.wrapperKetuaUmum .container-2 .col2-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapperKetuaUmum .container-2 .col2-container-2 .btn-lihat-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 35px;
  width: 120px;
  background: #fff;
  border-radius: 20px;
  border: none;
  outline: none;
  overflow: hidden;
  font-size: 12px;
  font-weight: 500;
  color: #d80010;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrapperKetuaUmum .container-2 .col2-container-2 .btn-lihat-col2:hover {
  background: #d80010;
  color: #fff;
}

.wrapperKetuaUmum .container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 0 10% 50px 10%;
}

.wrapperKetuaUmum .container-3 .col2-cardContent-container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.wrapperKetuaUmum .container-3 .col4-cardContent-container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
/*# sourceMappingURL=KetuaUmumPage.css.map */