$secondary : #f3f3f3;
@import "../../../utilities/variable/variables.scss";


.wrapperKetuaUmum{
    width: 100%;

    .headers {
        background: url(../../../img/pemilu8.jpg);
        background-size: cover;
        height: 25vh;
        background-position: center;

        .backgrounds {
            background-color: rgba(255, 0, 8, 0.1);
            width: 100%;
            height: 100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            color: #ffffff;

            .textBackgroundBerita {
                width: 30%;
                height: 50%;
                margin-left: 5rem;
            }
        }
    }
    .linkedBerita {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 40%;
        margin-top: 20px;
        padding: $paddingSmall;
    }

    // Container1
    .container-1{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0 10%;
        overflow: hidden;

        // Column1
        .col1-container-1{
            display: flex;
            flex-direction: column;
            height: auto;
            width: 100%;
            background-image: url(../../../img//ketuaumum6.jpg);
            background-position: center;
            background-size: cover;
            overflow: hidden;

            .cont-img-col1{
                display: flex;
                flex-direction: column;
                height: 80vh;
                width: 100%;
                overflow: hidden;

                .col1-img{
                    display: flex;
                    height: 70%;
                    width: 100%;
                    overflow: hidden;
                    border-bottom: 1px solid #fff;

                    .box-txt-title{
                        display: flex;
                        height: 100%;
                        width: auto;
                        justify-content: center;
                        align-items: center;
                        overflow: hidden;

                        h1{
                            display: flex;
                            font-size: 30px;
                            color: #fff;
                            padding: 25% 20% 20% 10%;
                            overflow: hidden;
                        }
                    }  
                }

                .col2-img{
                    display: flex;
                    flex-direction: column;
                    height: 30%;
                    width: 100%;
                    background-color: rgba(216, 0, 16, .8);
                    overflow: hidden;

                    .garis-strip-col2{
                        display: flex;
                        position: absolute;
                        height: 2.5px;
                        width: 230px;
                        background: #fff;
                        border-radius: 2px;
                        margin: -2px 0 0 65px;
                        overflow: hidden;
                    }

                    .box-txt-desk-col2{
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        width: 100%;
                        padding: 20px 65px 0 65px;
                        overflow: hidden;

                        .txt-admin{
                            display: flex;
                            font-size: 12px;
                            color: #fff;
                            overflow: hidden;
                        }

                        .txt-desk-col2{
                            display: flex;
                            font-size: 15px;
                            font-weight: 500;
                            color: #fff;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        // END Column1

        

        // Column3
        .cardKetuaUmum {
            display: flex;
            flex-direction: row;
        }
        // END Column3

        // Column5
        .col5-container-1{
            display: flex;
            height: 65vh;
            width: 100%;
            margin: 30px 0 0px 0;
            overflow: hidden;

            // Row1
            .row1-video-youtube{
                display: flex;
                height: 100%;
                width: 70%;
                margin: 0 30px 0px 0;
                overflow: hidden;

                .img-row1{
                    display: flex;
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    background: #555;
                    overflow: hidden;
                    z-index: -1;
                }

                .box-jdl-row1{
                    display: flex;
                    height: 30%;
                    width: 100%;
                    background: $colors;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    h1{
                        display: flex;
                        font-size: 20px;
                        color: #fff;
                        padding: 20px;
                        overflow: hidden;
                    }
                }
            }
            // END Row1

            // Row2
            .row2-img{
                display: flex;
                flex-direction: column-reverse;
                height: 100%;
                width: 30%;
                background-image: url(../../../img/img4.jpg);
                background-position: center;
                background-size: cover;
                overflow: hidden;

                .col-txt{
                    display: flex;
                    height: 30%;
                    width: 100%;
                    align-items: center;
                    padding: 5px 20px 5px 20px;
                    overflow: hidden;

                    .jdl{
                        display: flex;
                        font-size: 25px;
                        font-weight: bold;
                        color: #fff;
                        margin: 1px;
                        overflow: hidden;
                    }
                }
            }
            // END Row2
        }
        // END Column5
    }
    // END Container1

    // Container2
    .container-2{
        display: flex;
        flex-direction: column;
        height: 45vh;
        width: 100%;
        background-image: url(../../../img/ketuaumum7.jpg);
        background-size: cover;
        margin: 50px 0 0px 0;
        overflow: hidden;

        // Column1
        .col1-container-2{
            display: flex;
            flex-direction: column-reverse;
            height: 70%;
            width: 100%;
            align-items: center;
            overflow: hidden;

            .txt-title-col1{
                display: flex;
                font-size: 25px;
                color: #fff;
                text-align: center;
                overflow: hidden;
            }
        }
        // END Column1

        // Column2
        .col2-container-2{
            display: flex;
            height: 30%;
            width: 100%;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .btn-lihat-col2{
                display: flex;
                height: 35px;
                width: 120px;
                background: #fff;
                border-radius: 20px;
                border: none;
                outline: none;
                overflow: hidden;
                // For Font Button
                font-size: 12px;
                font-weight: 500;
                color: $colors;
                justify-content: center;
                align-items: center;
                transition: .5s;

                &:hover{
                    background: $colors;
                    color: #fff;
                }
            }
        }
        // END Column2
    }
    // END Container2

    // Container3
    .container-3{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0 10% 50px 10%;

        

        // Column2
        .col2-cardContent-container-3 {
            display: flex;
            flex-direction: row;
        }
        // END Column2

        

        // Column4
        .col4-cardContent-container-3 {
            display: flex;
            flex-direction: row;
        }
        // END Column6
    }
}