$secondary : #f3f3f3;
@import "../../../utilities/variable/variables.scss";

$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

.wrapper-pidato-hut{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background: $secondary;
    padding: 0 20%;

    @include smallPhone(){
        padding: 0;
    }

    .linked-pidato-hut {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-top: 15px;
        padding: 10px 0;

        @include smallPhone(){
            width: 100%;
            padding: 0 2%;
        }
    }

    // Container1
    .container1-pidato-hut{
        display: flex;
        height: 20vh;
        width: 100%;
        padding: 20px 0 0 0;
        justify-content: center;
        align-items: center;

        @include smallPhone(){
            height: auto;
            padding: 0 10px;
        }
    }
    // END Container1

    // Container2
    .container2-pidato-hut{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        margin: 0px 0 0 0;

        @include smallPhone(){
            padding: 0px;
        }

        // Column Card
        .column-card-pidato-hut{
            display: flex;
            flex-wrap: wrap;
            height: auto;
            width: 100%;

            @include smallPhone(){
                flex-direction: column;
            }
        }
        // END Column Card

        // Column Pagination
        .column-pagination-pidato-hut{
            display: flex;
            height: 10vh;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        // END Column Pagination
    }
    // END Container2
}