// @import "../../utilities/variable/variables.scss";

$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

.cardMedia {
    width: 100%;
    padding: 20px 0 20px 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    @include smallPhone() {
        flex-direction: column;
        padding: 0 2%;
    }

    .mediaCard {
        text-decoration: none;
        color: #000000;

        @include smallPhone() {
            width: 100%;
            margin: .5rem 0;
            height: 10vh;
            background: #fff;
            border-radius: 10px;
        }
        .smallCard {
            text-transform: uppercase;
            // font-weight: 700;
            font-family: 'Open Sans';
            font-size: 9pt;
            @include smallPhone() {
                margin-right: 1rem;
            }
        }
    }
    
    .imgCards {
        margin-right: 1rem;

        @include smallPhone() {
            // width: 30px;
            margin-right: .5rem;
        }
    }

    .siaranLangsung {
        display: flex;
        justify-content: center;
        align-items: center;

        
    }
    .videoDokumentasi {
        display: flex;
        justify-content: center;
        align-items: center;
        @include smallPhone() {
            flex-direction: row-reverse;
        }
    }
    .videoInteraktif {
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .siaranPers {
        display: flex;
        justify-content: center;
        align-items: center;
        
        @include smallPhone() {
            flex-direction: row-reverse;
        }
    }
}