// satria
$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;


@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}

@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

.wrapperInformasi {
    width: 100%;
    background: #f3f3f3;

    // START HEADER
    .headInformasi {
        background: url(../../img/mask.png);
        background-size: cover;
        height: 15vh;
        background-position: center;
        display: flex;
        align-items: center;
        // width: 100%;

        .textHeadInformasi {
                width: 100%;
                // height: 50%;
                display: flex;
                // margin-left: 13rem;
                padding: 0 10%;
                // border: 1px solid blue;
                color: #ffffff;

                h2 {
                    text-transform: uppercase;
                    font-family: 'Roboto';

                    .pdip {
                        font-weight: 300;
                    }
                }
        }
    }
    // END HEADER

    // START LINKED INFORMASI
        .linkedInformasi {
            display: flex;
            align-items: center;
            flex-direction: row;
            width: 40%;
            margin-top: 20px;
            padding: 5px 10%;

            i {
                span {
                    margin-left: 5px;
                    font-style: italic;
                    font-size: 8pt;
                }
            }
        }
    // END

    // START PROFIL
    .profilContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 20% 5px 20%;
        @include smallPhone() {
            width: 100%;
            padding: 0;
        }

        .divider-profil{
            display: flex;
            height: auto;
            width: 100%;
            align-items: center;
            justify-content: center;

            @include smallPhone(){
                padding: 0 10px;
            }
        }
        
        .paragrapProfil {
            display: flex;
            width: 100%;
            margin-top: 0rem;
            justify-content: center;
            // position: relative;
            @include smallPhone() {
                flex-direction: column;
                position: inherit;
            }

            .paragrapKiri {
                display: flex;
                flex-direction: column;
                font-family: 'Roboto';
                @include smallPhone() {
                    justify-content: center;
                    align-items: center;
                    padding: 0 10%;
                }
                .merdeka {
                    font-style: italic;
                }
                .solid {
                    font-style: italic;
                    @include smallPhone() {
                        text-align: center;
                    }
                }
                .textParagrap {
                    font-size: 10pt;
                    // width: 37vw;
                    width: 100%;
                    padding: 0 4% 0 0;
                    @include smallPhone() {
                        width: auto;
                        font-size: 9pt;
                        text-align: center;
                        padding: 0 2%;
                    }
                }

            }
        }

        .paragrapKanan {
            display: flex;
            flex-direction: column;
            // width: 100%;
            height: 100%;
            width: 50vw;
            @include smallPhone() {
                width: 100%;
                justify-content: center;
                align-items: center;
            }
            
            .backgroundPK {
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                // position: absolute;
                bottom: 0;
                width: 25vw;
                right: 0;
                height: 45vh;
                background: url(../../img/illustrator.png);
                background-size: cover;
                color: #ffffff;
                font-family: 'Roboto';
                @include smallPhone() {
                    height: 50vh;
                    position: inherit;
                    width: 100%;
                }

                .textParagrapKanan {
                    margin-top: 1rem;
                    font-size: 10pt;
                }
            }
        }

        // divider
            .divider {
                margin-top: 1rem;
                border: 1px solid #000000;
                height: 1px;
                width: 100%;
                @include smallPhone() {
                    margin: 1rem 0 0 0;
                }
            }
        //  END

        

        

        // CARD LAPORAN
        .containerLaporan {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            // padding: 2rem;
            @include smallPhone() {
                padding: 0 10px;
                flex-direction: column;
            }

            .cardLaporanSatu{
                margin-right: 20px;
            }

            .cardLaporan {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 15vh;
                flex-direction: row;
                // margin: 1rem 1rem;
                background: #e50209;
                // border: 1px solid crimson;
                transition: .3s;

                @include smallPhone() {
                    height: auto;
                    width: 100%;
                    margin: .5rem 0 0 0;
                    padding: 10px 0;
                    border-radius: 5px;
                }

                &:hover {
                    background: #2f3542;
                }

                .imageHarta {
                    margin: 1rem;
                }

                .textHarta {
                    display: flex;
                    flex-direction: column;
                    color: #ffffff;
                    margin: 0 1rem;

                    .h5Harta {
                        text-transform: uppercase;

                    }

                    .paragrapHarta {
                        font-size: 10pt;

                        @include smallPhone(){
                            font-size: 8pt;
                        }
                    }
                }

            }
        }
        // END
    }
    // END

    // YOUTUBE PROFIL
    .ytProfil {
        margin-top: 2rem;
        padding: 10px 20% 0 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        @include smallPhone() {
            padding: 0 10px;
        }

        .ytIframe {
            width: 100%;
            // border: 1px solid #48ff00;
            height: 60vh;
            position: relative;
            // overflow: hidden;
            @include smallPhoneDua() {
                height: 40vh;
            }

            .iframeProfil {
                border: 0;
                height: 100%;
                width: 100%;
                // border: 1px solid blue;
                top: 0;
                left: 0;
                position: absolute;

                @include smallPhoneDua() {
                    position: inherit;
                }

            }
        }
    }
    // END

    // TATA CARA CONTAINER
        .tataCaraContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 40px 10%;

            .textTataCara {
                border-bottom: 1px solid rgba(45, 52, 54, 0.2);
                // background-color: #2d3436;
                width: 100%;
                text-align: center;
                // height: 10vh;
                margin-top: 30px;
                .tataCara {
                    cursor: pointer;
                    color: #d80010;
                    // width: 100%;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 10pt;
                    border-bottom: 5.5px solid #d80010;
                    // line-height: 1;
                    
                }
            }

        }
        // END
        
        // CAROUSEL TATA CARA
        .sliderTataCara {
            // padding: 0px;
            width: 100%;
            display: flex;
            // height: 50vh;
            margin-top: 0;
            
            .carousel{
                display: flex;
                height: 40vh;
                width: 100%;
            
                .carousel-item {
                    .imageTC {
                        // width: 100%;
                        width: 100%;
                        display: block;
                        height: 100%;
                        // border: 1px solid crimson;
                        background: url(../../img/illustrator2.png);
                        background-size: cover;
                        background-position: bottom;
                        position: relative;

                        .pCarousel {
                            position: absolute;
                            width: 30%;
                            bottom: 40%;
                            right: 15%;
                            font-weight: 700;
                        }
                        .kunjungi {
                            color: black;
                            width: 10vw;
                            border-radius: 25px;
                            position: absolute;
                            left: 60%;
                            bottom: 20%;
                            color: #d80010;
                            border: 1px solid #d80010;
                            font-size: 7pt;
                            text-transform: uppercase;
                            transition: .3s;

                            &:hover {
                                background: #d80010;
                                color: #ffffff;

                            }
                        }
                    }
                }
            }
            .carousel-control-next-icon {
                background: url(../../img/right.png);
                background-size: cover;
            }
            .carousel-control-prev-icon {
                background: url(../../img/left.png);
                background-size: cover;

            }
            .carousel-control-next-icon,
            .carousel-control-prev-icon {
                width: 40px;
                height: 40px;
            }
            
        }
        // END

        // Container Dua
        .infoDua {
            margin: 20px 0 0 0;
            padding: 0 20%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .kolomFormulir {
                width: 50%;
                // border: 1px solid blue;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 15vh;
                transition: .3s;

                &:hover {
                    background: #2f3542;
                }

                .textFormulir {
                    margin-left: 1rem;
                    font-family: 'Roboto';
                }
            }

            .kolomFormulirSatu {
                background: #d80010;
                // border: 1px solid #d80010;
                color: #ffffff;
                margin-right: 20px;
            }
            .kolomFormulirDua {
                background: #d80010;
                color: #fff;
                // border: 1px solid #ffffff;
            }
        }
        // END

        .carousel-informasiPage{
            display: flex;
            height: auto;
            width: 100%;
            margin: 40px 0 0 0;
            padding: 0 0 40px 0%;
            
            @include smallPhone(){
                margin: 0;
                padding: 0;
            }
        }

        // Wrapper Widget
        .wrapperWidget{
            display: none;
            justify-content: center;
            align-items: center;
            padding: 40px 15%;

            // Carousel1
            .col-lg-8{
                margin: 0 25px 0 0;
            }
            // END Carousel1

            // Carousel2
            // END Carousel2
        }
        // END Wrapper Widget
}