$secondary : #f3f3f3;
@import "../../utilities/variable/variables.scss";

$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;

@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

$deviceOne : 1000px;
@mixin deviceOne {
    @media (min-width : #{$deviceOne}) {
        @content;
    }
}

$deviceTwo : 1500px;
@mixin deviceTwo {
    @media (max-width : #{$deviceTwo}) {
        @content;
    }
}

$deviceThree : 1200px;
@mixin deviceThree {
    @media (max-width : #{$deviceThree}) {
        @content;
    }
}

    //START CSS

.wrapperPartai {
    width: 100%;
    padding: 0 0 40px 0;

    @include smallPhone(){
        padding: 0 0 30px 0;
    }
    
    // START HEADERS
    .headers {
        background-size: cover;
        height: 15vh;
        background-position: center;

        @include smallPhone() {
            height: 15vh;
        }
        // @include smallPhoneDua() {
        //     height: 15vh;
        // }

        .backgrounds {
            background-color: rgba(216, 0, 16, .8);
            width: 100%;
            height: 100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            color: #ffffff;

            .textBackgroundPartai {
                width: 30%;
                height: 50%;
                margin-left: 13rem;
                @include smallPhone() {
                    width: auto;
                    margin-left: 0;
                    padding: 0 10%;
                }

                h2 {
                    @include smallPhoneDua() {
                        font-size: 15pt;                        
                    }
                }
            }
        }
    }
    // END HEADERS

    // START LINK PARTAI
    .linkedPartai {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-top: 15px;
        padding: 10px 10%;

        @include smallPhone() {
            // border: 1px solid crimson;
            width: 100%;
            padding: $paddingMobile;
        }
    }
    // END LINK PARTAI

     // START CONTAINER SATU
     .containerSatu {
        padding: 0px 20% 0px 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0 40px 0;
        
        @include smallPhone() {
            padding: 0 10px;
        }

        .contentSatu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: auto;
            padding: 0;
            @include smallPhone() {
                flex-direction: column-reverse;
            }

            @include smallPhone() {
                flex-direction: column;
            }

            .wrapperContentSatu {

                display: flex;
                justify-content: space-between;
                align-items: space-between;
                flex-direction: column;
                width: 100%;
                height: 100%;

                .mobileRow{
                    @include smallPhone(){
                        padding: 0 5px;
                    }

                    .imgMobilePartai{
                        height: 75px;
                        width: 75px;
                        object-fit: cover;
                        object-position: center;

                        @include deviceOne(){
                            height: 50px;
                            width: 50px;
                        }

                        @include smallPhone(){
                            height: 65px;
                            width: 65px;
                        }
                    }
                }

                .textContentSatu {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    @include smallPhone(){
                        margin: 0 0 0 10px;
                    }
                }
                

                .col-md-3 {
                    // margin: 20px 0;
                    display: flex;
                    width: 25%;
                    height: 100%;
                    justify-content: center;
                    align-items: center;

                    @include smallPhone() {
                        border-radius: 10px;
                        background: $accent;
                        margin: 8px 0;
                        padding: .5rem 2rem;
                        width: 100%;
                        flex-direction: row;
                    }
                    .textContent {
                        margin-left: 10px;
                        display: flex;
                        padding: 1rem;
                        flex-direction: column;
                        @include smallPhone() {

                            padding: .5rem;
                            text-align: start;
                            align-items: flex-start;
                            
                        }
    
                        h4 {
                            font-size: 11pt;
                            @include smallPhone() {
                                font-weight: 700;
                            }
                        }
    
                        p {
                            font-size: 10pt;
                            line-height: 1.5;
                            width: 20vw;
                        }
                    }
                }
               
            }

            .col-lg-4 {
                padding: 0px;

                @include smallPhone() {
                    padding: 0;
                }
            }
            .parentCarousel {
                height: 50vh;
                padding: 0 0px 0 0px;

                @include smallPhone(){
                    height: 40vh;
                    padding: 0;
                }

                .carousel{
                    height: 100%;
                    width: 100%;

                    .carousel-inner{
                        position: relative;
                        height: 100%;
                        width: 100%;

                        .imgCarousel{
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            object-position: center;
                        }

                        .carousel-caption{
                            height: 40%;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            width: 100%;

                            @include smallPhone(){
                                height: 60%;
                                justify-content: center;
                                align-items: center;
                                padding: 0 20px 0 20px;
                            }

                            h4{
                                position: absolute;
                                top: 0;
                                left: 30px;

                                @include smallPhone(){
                                    position: static;
                                    font-size: 15pt;
                                    justify-content: center;
                                    text-align: center;
                                }
                            }

                            p{
                                position: absolute;
                                top: 40px;
                                left: 30px;
                                right: 30px;
                                text-align: start;

                                @include smallPhone(){
                                    font-size: 10pt;
                                    position: static;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }

            
        }
    }
    // END CONTAINER SATU

    .containerTiga {
        padding: 0 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        // height: 85vh;
        @include smallPhone() {
            flex-direction: column;
            padding: 0 10%;
            margin-top: 40px;
        }

        .textBanteng {
            // border: 1px solid green;
            margin-left: 2rem;

            @include smallPhone() {
                margin-left: 0;
                display: flex;
                flex-direction: column;
                // border: 1px solid blue;
                justify-content: center;
                align-items: center;
            }

            h1 {
                font-size: 30pt;
                letter-spacing: 1px;
                margin-bottom: 2rem;
                font-weight: bold;
                @include smallPhone() {
                    font-size: 15pt;
                   margin: 1.5rem 0;
                   text-align: center;
                }
                // @include smallPhoneDua() {
                //     font-size: 15pt;
                //     margin: 1.5rem 0;
                // }
            }

            ul {
                font-size: 10pt;

                @include smallPhone() {
                    font-size: 8pt;
                    padding: 0 10px 0 10px;
                    margin: 0;
                    // border: 1px solid blue;
                }

            }
        }
    }

    .btnUnduh {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 20px 0 20px;

        @include smallPhone() {
            padding: 10px 0 0 0;
        }
    }
    

    .pengurusPage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0px 20% 20px 20%;

        @include smallPhone() {
            padding: 0 0 10px 0;
        }

        .divider-pengurusPage{
            display: flex;  
            height: auto;
            width: 100%;
            align-items: center;
            margin: 0px 0;

            @include smallPhone(){
                padding: 0 10px;
            }
        }

        .paragrapPengurus {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 0px;
            width: 100%;
            text-align: center;
            @include smallPhone() {
                padding: 0 10%;
            }
            
            p {
                font-size: 14pt;
                letter-spacing: 1px;
                @include smallPhone() {
                    font-size: 10pt;
                    margin: 0;
                }
            }
        }
    }

    .photoPengurus {
        width: 100%;
        background-size: auto;
        height: 40vh;
        display: flex;
        background-image: url(../../img/pengurus.png);
        background-position: center;
        background-attachment: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;

        @include smallPhone() {
            height: 40vh;
            background-size: auto;
        }

        h2 {
            margin-top: 6rem;
            text-align: center;
            font-weight: bold;

            @include smallPhone() {
                font-size: 15pt;
            }
            @include smallPhone() {
                font-size: 12pt;
            }
        }

        .btn {
            color: #ffffff;
            background: $colors;
            border-radius: 25px;

            width: 10vw;
            font-size: 10pt;
            text-transform: uppercase;
            font-weight: bold;
            margin-top: 1.5rem;

            @include smallPhone() {
                width: 25vw;
                font-size: 9pt;
            }
            @include smallPhoneDua() {
                width: 30vw;
                font-size: 9pt;
            }

            &:hover {
                background: #2f3542;
            }
        }
    }

    .maps {
        padding: 20px 10% 0px 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        @include smallPhone() {
            padding: 10px 0px 0 0px;
        }

        h5 {
            text-transform: uppercase;
            font-weight: bold;

            @include smallPhone() {
                font-size: 14pt;
                text-align: center;
                padding: 0 10%;
            }
            // @include smallPhoneDua() {
            //     font-size: 14pt;
            //     text-align: center;
            // }
        }
            .imageMaps {
                background: url(../../img/maps.jpg);
                background-size: cover;
                width: 100%;
                height: 56vh;
                // cursor: pointer;
                @include smallPhone() {
                    height: 30vh;
                }
                // @include smallPhoneDua() {
                //     height: 20vh;
                // }
            }
    }

    .anggotaLegislatif {
        padding: 20px 20% 0 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
        text-align: center;

        @include smallPhone() {
            padding: 0;
            margin-top: 40px;
        }
        // @include smallPhoneDua() {
        //     margin-top: 2.5rem;
        // }

        h1 {
            font-weight: bold;
            font-family: 'Roboto';


            @include smallPhone() {
                font-size: 20pt;
            }
        }
        p {
            margin-top: 2.5rem;
            @include smallPhone() {
                margin-top: 1.5rem;
                padding: 0 10%;
                font-size: 10pt;
            }
        }
        .btnGroup {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin: 10px 0px 0 0;

            @include smallPhone(){
                flex-direction: column;
                margin: 0;
            }
            
            .btn2{
                margin: 0 20px 0 0;
                @include smallPhone(){
                    margin: 0px 20px 10px 0;
                }
            }
        }
    }
}