// EJA

$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

.wrapperPemilu {
    width: 100%;
    padding: 0 0 50px 0;
    background: #f3f3f3;

    .headers {
        background: url(../../img/pemilu6.jpg);
        background-size: cover;
        height: 25vh;
        background-position: center;

        @include smallPhone(){
            height: 20vh;
            background-attachment: inherit;
        }

        @include smallPhone(){
            height: 15vh;
            background-attachment: inherit;
        }

        .backgrounds {
            width: 100%;
            height: 100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            color: #ffffff;

            .textBackgroundBerita {
                width: 30%;
                height: 50%;
                margin-left: 5rem;
            }
        }
    }
    .linkedBerita {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-top: 15px;
        padding: 10px 20%;

        @include smallPhone(){
            width: 100%;
            padding: 0 2%;
        }


        i {
            span {
                margin-left: 5px;
                font-style: italic;
                font-size: 8pt;
            }
        }
    }

    // Container1
    .container-1{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        background: #f3f3f3;
        padding: 0 20%;
        overflow: hidden;

        @include smallPhone(){
            padding: 0 5px;
        }

        // Column1
        .col1-container-1{
            display: flex;
            height: 80vh;
            width: 100%;
            overflow: hidden;

            @include smallPhone(){
                height: auto;
                flex-direction: column;
            }

            // Row1
            .row1-col1{
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 35%;
                overflow: hidden;

                @include smallPhone(){
                    height: auto;
                    width: 100%;
                }
                
                // Bagian1
                .bagian1{
                    display: flex;
                    height: 50%;
                    width: 100%;
                    margin: 0 0 20px 0;

                    @include smallPhone(){
                        height: 40vh;
                        width: 100%;
                        margin: 0 0 10px 0;
                    }
                }
                // END Bagian1

                // Bagian2
                .bagian2{
                    display: flex;
                    height: 50%;
                    width: 100%;

                    @include smallPhone(){
                        height: 40vh;
                        width: 100%;
                    }
                }
                // END Bagian2
            }
            // END Row1

            // Row2
            .row2-col1{
                display: flex;
                height: 100%;
                width: 65%;
                background: #fff;
                margin: 0px 0px 0 20px;
                padding: 0px 0 0 0;
                overflow: hidden;

                @include smallPhone(){
                    height: 40vh;
                    width: 100%;
                    margin: 10px 0 0 0;
                }
            }
        }
        // END Column1

        // Column2
        .col2-container-1{
            display: flex;
            height: auto;
            width: 100%;
            padding: 30px 0 30px 0;
            overflow: hidden;

            @include smallPhone(){
                flex-direction: column;
            }

            // Row1
            .row1-col2{
                display: flex;
                height: 20vh;
                width: 50%;
                background: #d80010;
                margin: 0 20px 0 0;
                align-items: center;
                border-radius: 5px;
                overflow: hidden;

                @include smallPhone(){
                    width: 100%;
                }

                .col1-row1{
                    display: flex;
                    height: 110px;
                    width: 120px;
                    object-fit: cover;
                    overflow: hidden;

                    @include smallPhone(){
                        background-position: center;
                    }
                }

                .col2-row1{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 80%;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 5px 20px 5px 0px;
                    overflow: hidden;

                    @include smallPhone(){
                        padding: 5px 10px 5px 0px;
                    }

                    .txt-title{
                        display: flex;
                        font-size: 18px;
                        font-weight: bold;
                        color: #fff;
                        text-align: start;
                        margin: 1px;
                        overflow: hidden;

                        @include smallPhone(){
                            font-size: 15px;
                        }
                    }

                    .txt-desk{
                        display: flex;
                        // font-size: 11px;
                        font-weight: 500;
                        color: #fff;
                        text-align: start;
                        margin: 1px;
                        overflow: hidden;

                        @include smallPhone(){
                            font-size: 10px;
                        }
                    }
                }
            }
            // END Row1

            // Row2
            .row2-col2{
                display: flex;
                height: 20vh;
                width: 50%;
                background: #d80010;
                align-items: center;
                border-radius: 5px;
                overflow: hidden;

                @include smallPhone(){
                    width: 100%;
                    margin: 10px 0 0 0;
                }

                .col1-row2{
                    display: flex;
                    height: 110px;
                    width: 120px;
                    object-fit: cover;
                    overflow: hidden;

                    @include smallPhone(){
                        background-position: center;
                    }
                }

                .col2-row2{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 80%;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 5px 10px 5px 0px;
                    overflow: hidden;
                    
                    @include smallPhone(){
                        padding: 5px 10px 5px 0px;
                    }

                    .txt-title{
                        display: flex;
                        font-size: 18px;
                        font-weight: bold;
                        color: #fff;
                        text-align: start;
                        margin: 1px;
                        overflow: hidden;

                        @include smallPhone(){
                            font-size: 15px;
                        }
                    }

                    .txt-desk{
                        display: flex;
                        // font-size: 11px;
                        font-weight: 500;
                        color: #fff;
                        text-align: start;
                        margin: 1px;
                        overflow: hidden;

                        @include smallPhone(){
                            font-size: 10px;
                        }
                    }
                }
            }
            // END Row2
        }
        // END Column2
    }
    // END Container1

    // Container2
    .container-2{
        display: flex;
        flex-direction: column-reverse;
        position: relative;
        height: 60vh;
        width: 100%;
        background-image: url(../../img/pemilu5.jpg);
        background-size: cover;
        margin: 20px 0 20px 0;
        overflow: hidden;

        @include smallPhone(){
            height: 30vh;
            width: 100%;
            margin: 0;
        }

        // img{
        //     display: flex;
        //     position: absolute;
        //     height: 100%;
        //     width: 150%;
        //     background-position: center;
        //     background-size: cover;
        //     overflow: hidden;
        // }

        // .jdl-col1{
        //     display: flex;
        //     flex-direction: row-reverse;
        //     height: 70%;
        //     width: 100%;
        //     overflow: hidden;
        //     z-index: 1;

        //     .box-txt-jdl{
        //         display: flex;
        //         flex-direction: column-reverse;
        //         height: 100%;
        //         width: 500px;
        //         padding: 10px 10px 20px 10px;
        //         margin: 0 100px 0 0;
        //         overflow: hidden;

        //         @include smallPhone(){
        //             width: 60%;
        //             padding: 10px;
        //             margin: 0 0 0 50px;
        //         }
        //     }

        //     .txt-jdl{
        //         display: flex;
        //         font-size: 20px;
        //         font-weight: bold;
        //         color: #000;
        //         text-align: start;
        //         overflow: hidden;

        //         @include smallPhone(){
        //             font-size: 10px;
        //         }
        //     }
        // }

        .btn-col2{
            display: flex;
            flex-direction: row-reverse;
            height: 50%;
            width: 100%;
            align-items: center;
            padding: 0 150px 20px 0;
            z-index: 1;
            overflow: hidden;

            @include smallPhone(){
                padding: 0 20px 0 0 ;
            }

            // .btn-lihat{
            //     display: flex;
            //     height: 35px;
            //     width: 130px;
            //     background: #eee;
            //     border-radius: 20px;
            //     border: none;
            //     outline: none;
            //     justify-content: center;
            //     align-items: center;
            //     overflow: hidden;
            //     // For Font Btn
            //     // font-size: 11px;
            //     font-weight: bold;
            //     color: #d80010;
            //     transition: .5s;

            //     &:hover{
            //         background: #d80010;
            //         color: #fff;
            //     }
            // }
        }
    }
    // END Container2

    // Container3
    .container-3{
        display: flex;
        height: 60vh;
        width: 100%;
        background: #f3f3f3;
        justify-content: center;
        align-items: center;
        padding: 0 20%;
        margin: 40px 0 80px 0;
        overflow: hidden;

        @include smallPhone(){
            padding: 0;
        }

        iframe{
            display: flex;

            @include smallPhone(){
                width: 100%;
                padding: 0 5px;
            }
        }
    }
    // END Container3
}