.wrapperKetuaUmum {
  width: 100%;
  background: #f3f3f3;
}

.wrapperKetuaUmum .headers-ketuaumum {
  background: url(../../img/pemilu8.jpg);
  background-size: cover;
  height: 25vh;
  background-position: center;
}

@media (max-width: 500px) {
  .wrapperKetuaUmum .headers-ketuaumum {
    height: 20vh;
  }
}

@media (max-width: 400px) {
  .wrapperKetuaUmum .headers-ketuaumum {
    height: 15vh;
  }
}

.wrapperKetuaUmum .headers-ketuaumum .backgrounds {
  background-color: rgba(255, 0, 8, 0.1);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.wrapperKetuaUmum .headers-ketuaumum .backgrounds .textBackgroundBerita {
  width: 30%;
  height: 50%;
  margin-left: 5rem;
}

.wrapperKetuaUmum .linkedKetuaumum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  margin-top: 15px;
  padding: 10px 10%;
}

@media (max-width: 500px) {
  .wrapperKetuaUmum .linkedKetuaumum {
    width: 100%;
    padding: 0 2%;
  }
}

.wrapperKetuaUmum .container-1-ketuaUmum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 0 10%;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperKetuaUmum .container-1-ketuaUmum {
    padding: 0;
  }
}

.wrapperKetuaUmum .container-1-ketuaUmum .cardKetuaUmum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 500px) {
  .wrapperKetuaUmum .container-1-ketuaUmum .cardKetuaUmum {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
  }
}

.wrapperKetuaUmum .container-1-ketuaUmum .col5-container-1-ketuaumum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  width: 100%;
  margin: 30px 0 0px 0;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperKetuaUmum .container-1-ketuaUmum .col5-container-1-ketuaumum {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5px;
  }
}

.wrapperKetuaUmum .container-1-ketuaUmum .col5-container-1-ketuaumum .row1-video-youtube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 70%;
  margin: 0 30px 0px 0;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperKetuaUmum .container-1-ketuaUmum .col5-container-1-ketuaumum .row1-video-youtube {
    height: 50vh;
    width: 100%;
    margin: 0 0 10px 0;
  }
}

.wrapperKetuaUmum .container-1-ketuaUmum .col5-container-1-ketuaumum .row1-video-youtube iframe {
  height: 121%;
}

.wrapperKetuaUmum .container-1-ketuaUmum .col5-container-1-ketuaumum .row2-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 100%;
  width: 30%;
  background-image: url(../../img/img4.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperKetuaUmum .container-1-ketuaUmum .col5-container-1-ketuaumum .row2-img {
    height: 25vh;
    width: 100%;
  }
}

.wrapperKetuaUmum .container-1-ketuaUmum .col5-container-1-ketuaumum .row2-img .col-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 20px 5px 20px;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperKetuaUmum .container-1-ketuaUmum .col5-container-1-ketuaumum .row2-img .col-txt {
    height: 50%;
  }
}

.wrapperKetuaUmum .container-1-ketuaUmum .col5-container-1-ketuaumum .row2-img .col-txt .jdl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin: 1px;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperKetuaUmum .container-1-ketuaUmum .col5-container-1-ketuaumum .row2-img .col-txt .jdl {
    font-size: 20px;
  }
}

.wrapperKetuaUmum .container-2-ketuaumum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  padding: 0 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  .wrapperKetuaUmum .container-2-ketuaumum {
    padding: 0 10px;
  }
}

.wrapperKetuaUmum .container-3-ketuaumum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 0px 10% 50px 10%;
}

@media (max-width: 500px) {
  .wrapperKetuaUmum .container-3-ketuaumum {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0px;
  }
}

.wrapperKetuaUmum .container-3-ketuaumum .col4-cardContent-container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0px 0 0 0;
}

@media (max-width: 500px) {
  .wrapperKetuaUmum .container-3-ketuaumum .col4-cardContent-container-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=KetuaUmumPage.css.map */