.homePageTwo {
    width: 100vw;
    padding: 40px 10%;
  }
  
  @media (max-width: 500px) {
    .homePageTwo {
      padding: 0;
      overflow-x: hidden;
    }
  }
  
  .homePageTwo .customRow {
    height: 20vh;
    background-color: #2d3436;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .customRow {
      height: auto;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  
  .homePageTwo .customRow .custom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .customRow .custom {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      text-align: center;
      padding: 10px 0;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
    }
  }
  
  .homePageTwo .customRow .custom img {
    margin: 0 10px;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .customRow .custom img {
      width: 30px;
      height: 30px;
    }
  }
  
  .homePageTwo .customRow .custom h3 {
    text-transform: uppercase;
    font-size: 13pt;
    color: #ffffff;
    margin: 0 10px;
    line-height: 1.3;
    letter-spacing: 1px;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .customRow .custom h3 {
      margin-top: 1rem;
      font-size: 6pt;
      width: 100%;
      font-family: 'Josefin Sans';
    }
  }
  
  @media (max-width: 400px) {
    .homePageTwo .customRow .custom h3 {
      font-size: 5pt;
    }
  }
  
  .homePageTwo .customRow .custom .customBorder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 15vh;
    padding: 2rem;
    border-right: 1px solid white;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .customRow .custom .customBorder {
      padding: 1rem;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  
  .homePageTwo .customRow .custom .calendar {
    border: none;
  }
  
  .homePageTwo .videoPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .homePageTwo .videoPage .paragrapVideo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .videoPage .paragrapVideo {
      margin: 0;
      padding: 10px 10%;
    }
  }
  
  .homePageTwo .videoPage .paragrapVideo p {
    font-size: 14pt;
    letter-spacing: 1px;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .videoPage .paragrapVideo p {
      font-size: 10pt;
    }
  }
  
  .homePageTwo .videoPage .bannerYoutube {
    width: 100%;
    background: url(../../../img/image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -150px;
    margin-top: 20px;
    height: 40vh;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .videoPage .bannerYoutube {
      background-size: cover;
      background-position: center;
      width: 95.5%;
    }
  }
  
  .homePageTwo .videoPage .bannerYoutube .textYoutube {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgba(0, 0, 0, 0.7);
  }
  
  .homePageTwo .videoPage .bannerYoutube .textYoutube .wrapperText {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    height: 90%;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .videoPage .bannerYoutube .textYoutube .wrapperText {
      width: 100%;
    }
  }
  
  .homePageTwo .videoPage .bannerYoutube .textYoutube .wrapperText ul {
    list-style: none;
  }
  
  .homePageTwo .videoPage .bannerYoutube .textYoutube .wrapperText ul li {
    display: table-cell;
    background-color: #960001;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    vertical-align: middle;
    text-align: center;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .videoPage .bannerYoutube .textYoutube .wrapperText ul li {
      height: 2.3rem;
      width: 2.3rem;
    }
  }
  
  .homePageTwo .videoPage .bannerYoutube .textYoutube .wrapperText ul li a {
    text-decoration: none;
    color: #ffffff;
  }
  
  .homePageTwo .videoPage .bannerYoutube .textYoutube .wrapperText ul li a i {
    font-size: 20pt;
    margin-left: 5px;
    margin-top: 5px;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .videoPage .bannerYoutube .textYoutube .wrapperText ul li a i {
      font-size: 12pt;
      margin: 0;
    }
  }
  
  .homePageTwo .videoPage .bannerYoutube .textYoutube .wrapperText .textInfoYT {
    width: 60%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #ffffff;
    margin-left: 20px;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .videoPage .bannerYoutube .textYoutube .wrapperText .textInfoYT {
      height: auto;
      line-height: .5;
    }
  }
  
  @media (max-width: 500px) {
    .homePageTwo .videoPage .bannerYoutube .textYoutube .wrapperText .textInfoYT .videoTerbaru {
      font-size: 15pt;
    }
  }
  
  @media (max-width: 500px) {
    .homePageTwo .videoPage .bannerYoutube .textYoutube .wrapperText .textInfoYT .siaranHut {
      font-size: 10pt;
      font-weight: 400;
    }
  }
  
  .homePageTwo .beritaPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  
  .homePageTwo .beritaPage .paragrapBerita {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .beritaPage .paragrapBerita {
      margin: 0;
      padding: 10px 10%;
    }
  }
  
  .homePageTwo .beritaPage .paragrapBerita p {
    font-size: 14pt;
    letter-spacing: 1px;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .beritaPage .paragrapBerita p {
      font-size: 10pt;
    }
  }
  
  .homePageTwo .cardContainer {
    width: 100%;
    height: auto;
    min-height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 15px;
  }
  
  @media (max-width: 500px) {
    .homePageTwo .cardContainer {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      min-height: 40vh;
    }
  }
  
  .beritaTerbaru {
    width: 100%;
    padding: 40px 10%;
  }
  
  .cardContent {
    width: 100%;
    height: auto;
    min-height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 15px;
    padding: 40px 10%;
  }
  
  @media (max-width: 500px) {
    .cardContent {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding: 0;
    }
  }
  
  .btnSize {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  @media (max-width: 400px) {
    .verticalDivider {
      display: none;
    }
  }
  
  .widgetMobile {
    display: none;
  }
  
  @media (max-width: 500px) {
    .widgetMobile {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 2%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 100%;
    }
  }
  /*# sourceMappingURL=HomePage.css.map */