$table : 1261px;

$responsiveSatu : 1085px;
$responsiveDua : 1000px;
$responsiveTiga : 728px;
$responsiveEmpat : 500px;

$phoneSatu : 600px;

@import "../../../utilities/variable/variables.scss";


@mixin responSatu {
    @media (max-width : #{$responsiveSatu}) {
        @content;
    }
}
@mixin responDua {
    @media (max-width : #{$responsiveDua}) {
        @content;
    }
}
@mixin responTiga {
    @media (max-width : #{$responsiveTiga}) {
        @content;
    }
}
@mixin responEmpat {
    @media (max-width : #{$responsiveEmpat}) {
        @content;
    }
}
@mixin phone {
    @media (max-width : #{$phoneSatu}) {
        @content;
    }
}




.homePageTwo {
    width: 100vw;
    padding: $padding;

    @include responSatu() {
        padding: 20px 13%;
    }
    @include phone() {
        padding: $padding;
    }

        .customRow {
            height: 20vh;
            background-color: #2d3436;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 3rem;
            flex-direction: row;

            @include responSatu() {
                height: 18vh;
            }
            @include phone() {
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 20px;
            }
        
            
            .custom {
                display: flex;
                justify-content: center;
                align-items: center;
                // border: 1px solid blue;
                
                @include phone() {
                    flex-direction: column;
                    margin: 2rem;
                    text-align: center;
                }

                img {
                    margin: 0 10px;
                    @include responSatu() {
                        width: 40px;
                        height: 40px;
                        
                    }
                    @include phone() {
                        // border: 1px solid blue;
                        width: 5rem;
                        height: 5rem;
                        
                    }
                

                }

                h3 {
                    text-transform: uppercase;
                    font-size: 13pt;
                    color: #ffffff;
                    margin: 0 10px;
                    line-height: 1.3;
                    letter-spacing: 1px;

                    @include responSatu() {
                        font-size: 10pt;
                    }

                    @include phone() {
                        margin-top: 1rem;
                        font-size: 8pt;
                    }
                }

                .customBorder {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 15vh;
                    padding: 2rem;
                    border-right: 1px solid white;

                    @include responSatu() {
                        // font-size: 10pt;
                        height: 60%;
                    }
                    @include phone() {
                        // flex-direction: column;
                        border: none;
                        flex-direction: column;
                    }
            }
            .calendar {
                border: none;
            }
        } 
    }

    .videoPage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .paragrapVideo {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
            width: 100%;
            text-align: center;
            // border: 1px solid blue;
            
            p {
                font-size: 14pt;
                letter-spacing: 1px;

                @include responSatu() {
                    font-size: 10pt;
                }
            }
        }

        .bannerYoutube {
            width: 100%;
            background: url(../../../img/image-1.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: -150px;
            margin-top: 20px;
            height: 40vh;
            @include responSatu() {
                height: 30vh;
                margin-top: 2.5rem;
            }

            .textYoutube {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                // border: 1px solid blue;
                background: rgba(0, 0, 0, 0.7);

                .wrapperText {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    width: 50%;
                    height: 90%;

                    // border: 1px solid green;

                    ul {
                        list-style: none;

                        li {
                            display: inline-block;
                            background-color: #d80010;
                            border-radius: 50%;

                            a {
                                text-decoration: none;
                                color: #ffffff;
                                display: table-cell;
                                vertical-align: middle;
                                text-align: center;
                                
                                height: 50px;
                                width: 50px;

                                @include responSatu() {
                                    height: 35px;
                                    width: 35px;
                                }

                                i {
                                    font-size: 20pt;
                                    margin-left: 5px;
                                    margin-top: 5px;

                                    @include responSatu() {
                                        font-size: 10pt;
                                        margin-left: 3px;
                                        margin-top: 7px;
                                    }
                                }
                            }
                        }
                    }

                    .textInfoYT {
                        width: 60%;
                        height: 60%;

                        display: flex;
                        justify-content: center;
                        align-items: flex-start;
                        flex-direction: column;

                        // border: 1px solid pink;
                        color: #ffffff;
                        margin-left: 20px;

                        .videoTerbaru {
                            @include responSatu() {
                                font-size: 13pt;
                            }
                        }
                        .siaranHut {
                            @include responSatu() {
                                font-size: 10pt;
                            }
                        }
                    }
                }
            }
        }

        

    }
    button {
        border-radius: 25px;
        // background-color: #d80010;
        border: 1px solid #d80010;
        text-transform: uppercase;
        margin-top: 20px;
        font-size: 7pt;
        font-weight: 500;
        color: #d80010;
        transition: .5s;

        @include responSatu() {
            font-size: 6pt;
        }

        &:hover {
            background: #d80010;
            color: #ffffff;
        }

    }

    .beritaPage {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .paragrapBerita {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
            width: 100%;
            text-align: center;
            // border: 1px solid blue;
            
            p {
                font-size: 14pt;
                letter-spacing: 1px;

                @include responSatu() {
                    font-size: 10pt;
                }
            }
        }

        
    }

    .cardContainer {
    width: 100%;
    height: auto;
    min-height: 50vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    flex-wrap: wrap;
    
    
    // border: 1px solid pink;
    margin-top: 15px;

    @include responSatu() {
        margin-top: 25px;
    }
    }

}

.ketuaUmum {
    width: 100%;
    height: 60vh;
    // outline: 1px solid crimson;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;

    .row>* {
        padding-right: 0;
    }
    
    .rowCustom {
        width: 100%;
        height: 100%;
        // outline: 1px solid rgb(20, 190, 220);

    }

    .banner {
        background: url(../../../img/megawati4.jpg);
        background-size: cover;
    }

    .carousels {
        .kmCarousel {
            width: 100%;
            height: 100%;
            background: #d80010;

            .carousel-indicators {

                right: 0;

                li {
                    border: none;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                }
            }

            .carousel-inner {
                // border: 1px solid blue;
                height: 100%;
                // background: #d80010;

                display: flex;
                justify-content: flex-start;
                align-items: center;

                color: #ffffff;

                .carousel-item {
                    text-align: center;
                    h5 {
                        font-weight: 400;
                        font-size: 10pt;

                        @include responSatu() {
                            font-size: 8pt;
                        }
                    }

                    h3 {
                        font-size: 15pt;
                        font-weight: 300;

                        @include responSatu() {
                            font-size: 12pt;
                        }
                    }

                    p {
                        font-size: 8pt;

                        @include responSatu() {
                            font-size: 6pt;
                        }
                    }
                }
            }
        }
    }
}

.cardContent {
    width: 100%;
    // height: 60vh;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
    padding: $padding;

    
}



.btnSize {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    // border: 1px solid crimson;

    
}




