.image1 {
    height: 100vh;
    width: 100%;
    background-image: url(../../../img/slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  @media (max-width: 500px) {
    .image1 {
      background-size: cover;
      height: 50vh;
    }
  }
  
  
  
  .image1 .text1 {
    height: 100%;
    color: #ffffff;
    background: url(../../../img/bgTextMobilez-01.svg);
    background-size: cover;
    opacity: 0.8;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  @media (max-width: 500px) {
    .image1 .text1 {
      background-size: cover;
      height: auto;
      background: url(../../../img/bgTextMobilez-01.svg);
      background-repeat: no-repeat;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-left: 4.5em;
    }
  }
  
  
  
  .image1 .text1 h1 {
    width: 60%;
    font-size: 25pt;
    text-transform: uppercase;
    margin-bottom: 2em;
  }
  
  @media (max-width: 500px) {
    .image1 .text1 h1 {
      font-size: 10pt;
      width: 40%;
      margin-bottom: 1em;
    }
  }
  
  
  
  .image1 .text1 p {
    font-size: 13pt;
    width: 60%;
  }
  
  @media (max-width: 500px) {
    .image1 .text1 p {
      font-size: 6pt;
      width: 40%;
    }
  }
  
  
  
  .image2 {
    height: 100vh;
    width: 100%;
    background-image: url(../../../img/slider2.jpg);
    background-size: cover;
  }
  
  @media (max-width: 500px) {
    .image2 {
      background-size: cover;
      height: 50vh;
    }
  }
  
  
  
  .image2 .text1 {
    height: 100%;
    color: #ffffff;
    background: url(../../../img/bgTextMobilez-01.svg);
    background-size: cover;
    opacity: 0.8;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  @media (max-width: 500px) {
    .image2 .text1 {
      background-size: cover;
      height: auto;
      background: url(../../../img/bgTextMobilez-01.svg);
      background-repeat: no-repeat;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      padding-top: 2em;
      padding-left: 4.5em;
    }
  }
  
  
  
  .image2 .text1 h1 {
    width: 50%;
    font-size: 20pt;
    text-transform: uppercase;
    margin-bottom: 2em;
  }
  
  @media (max-width: 500px) {
    .image2 .text1 h1 {
      font-size: 10pt;
      width: 40%;
      margin-bottom: 1em;
    }
  }
  
  
  
  .image2 .text1 p {
    font-size: 10pt;
    width: 50%;
  }
  
  @media (max-width: 500px) {
    .image2 .text1 p {
      font-size: 6pt;
      width: 40%;
    }
  }
  
  
  
  .carousel {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .carousel .carousel-inner .carousel-item {
    width: 105%;
  }
  
  .carousel .carousel-indicators {
    right: auto;
    bottom: 5%;
    margin-bottom: 30px;
  }
  
  @media (max-width: 500px) {
    .carousel .carousel-indicators {
      margin-bottom: 0;
    }
  }
  
  .carousel .carousel-indicators .indikator {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0.5;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    margin: 1px;
    padding: 15px;
  }
  
  @media (max-width: 500px) {
    .carousel .carousel-indicators .indikator {
      width: 10px;
      height: 10px;
      padding: 10px;
    }
  }
  
  
  
  .carousel .carousel-indicators .indikator .indicatorText {
    cursor: pointer;
    margin: 0 5px;
    -webkit-transition: opacity .6s ease;
    transition: opacity .6s ease;
    font-weight: bold;
    text-align: center;
    font-family: 'Roboto';
  }
  
  @media (max-width: 500px) {
    .carousel .carousel-indicators .indikator .indicatorText {
      font-size: 7pt;
    }
  }
  
  .carousel .carousel-indicators .indikator.active {
    opacity: 1;
    background: #ffffff;
    color: #960001;
  }
  
  .carousel .carousel-control-prev,
  .carousel .carousel-control-next {
    width: 7%;
    text-decoration: none;
    height: 0;
    top: 50%;
  }
  
  .arrowsLeft {
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    background: rgba(255, 186, 186, 0.8);
  }
  
  
  
  .arrowsRight {
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30px;
    background: rgba(255, 186, 186, 0.8);
  }
  
  

  @media screen and (max-width: 400px) {

    .image1 {
        background-size: cover;
        height: auto;
    }
    .image1 .text1 {
    padding: 4rem 2rem;
    text-align: center;
    }
    .image1 .text1 h1 {
        width: 50%;
        font-size: 9pt;
    }
    .image1 .text1 p {
        width: 53%;
    }
    .image2 {
        background-size: cover;
        height: auto;
    }
    .image2 .text1 {
        padding: 4rem 2rem;
        text-align: center;
    }
    .image2 .text1 h1 {
        width: 50%;
        font-size: 9pt;
    }
    .image2 .text1 p {
        width: 53%;
    }
    .carousel .carousel-indicators .indikator {
        width: 7px;
        height: 7px;
        padding: 8px;
    }
    .arrowsLeft {
        height: 20px;
        width: 20px;
    }
    .arrowsRight {
        height: 20px;
        width: 20px;
    }

  }