@import '../../utilities/variable/variables.scss';

$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}

@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

.KMobile {
    display: none;
    

    @include smallPhone() {
        width: 100%;
        box-sizing: content-box;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    

    .row>* {
        padding-right: 0;

        @include smallPhoneDua() {
            // padding: auto;
            // padding-right: 10px;
        }
    }

    .row {
        --bs-gutter-x : 0;

        // bs-gutter-x: 1.5rem;
        @include smallPhoneDua() {
        }
    }
    
    .rowCustomMobile {
        width: 100%;
        height: 100%;

        @include smallPhone() {
            
            // border: 1px solid green;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1rem;
            
        }
        
    }

    

    .carousels {
        .kmCarousel {
            width: 100%;
            height: 100%;
            background: $darkRed;

            @include smallPhone() {
                height: auto;
            }

            @include smallPhone() {
                height: auto;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            
            
        .carousel-indicators {

            right: 0;

            li {
                border: none;
                width: 8px;
                height: 8px;
                border-radius: 50%;
            }
        }

            
            

            .carousel-inner {
                // border: 1px solid blue;
                height: 100%;
                // background: #d80010;

                display: flex;
                justify-content: flex-start;
                align-items: center;

                color: #ffffff;

                .itemKMobile {

                    position: relative;

                    @include smallPhone() {
                        height: 45vh;

                    }
                    @include smallPhoneDua() {
                    }
                }

                .carousel-item {
                    text-align: center;
                    width: 100%;

                    .bannerMobile {
                        
                        @include smallPhone() {
                            height: 25vh;
                        }
                    }

                    .textKM {
                        
                        @include smallPhone() {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                        }
                        .textCarousel {
    
                            @include smallPhone() {
                                margin: .5rem 0;
                            }
                        }
                        
                        h5 {
                            @include smallPhone() {
                                font-size: 9pt;
                            }
    
                            @include smallPhoneDua() {
                                font-size: 8pt;
                            }
                        }
    
                        h3 {
                            font-size: 15pt;
                            font-weight: 300;

                            @include smallPhone(){
                                padding: 0 5%;
                            }
                        }
                    }
                }
            }
        }
    }
}