@import "../../utilities/variable/variables.scss";


$smallPhoneSatu : 500px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
$smallPhoneDua : 400px;
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

$deviceOne : 1000px;
@mixin deviceOne {
    @media (min-width : #{$deviceOne}) {
        @content;
    }
}

$deviceTwo : 1500px;
@mixin deviceTwo {
    @media (max-width : #{$deviceTwo}) {
        @content;
    }
}

$deviceThree : 1200px;
@mixin deviceThree {
    @media (max-width : #{$deviceThree}) {
        @content;
    }
}

.image1 {
    display: flex;
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-image: url(../../img/slider2.jpg);

    @include smallPhone() {
        height: 40vh;
    }

    img{
        width: 100%;
        height: 100%;
        // position: absolute;
        object-fit: cover;
        object-position: center;

        @include smallPhone(){
            height: 100%;
            width: 100%;
            position: absolute;
        }
    }

    .text1 {
        height: 100%;
        color: #ffffff;
        // border: 1px solid green;
        background: url(../../img/bgTextMobilez-01.svg);
        object-fit: cover;
        background-position: left;
        opacity: 0.8;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        padding: 0;

        @include deviceOne(){
            width: 55%;
        }

        @include deviceTwo(){
            width: 70%;
        }

        @include deviceThree(){
            width: 80%;
        }

        @include smallPhone() {
            display: flex;
            position: relative;
            background-size: cover;
            height: 100%;
            width: auto;
            background: none;
            background-repeat: no-repeat;
            align-items: flex-start;
            padding: 1rem 0rem 0 0rem;
            text-align: center;
            opacity: 1;
            padding: 0;
        }
        
        h1 {
            width: 60%;
            font-size: 25pt;
            text-transform: uppercase;
            margin-bottom: 2em;
            
        @include smallPhone() {
            position: absolute;
            top: 30px;
            left: 30px;
            font-size: 10pt;
            width: 50%;
            text-align: start;
            // margin-bottom: 1em;
        }

        // @include smallPhoneDua() {
        //     // border: 1px solid blue;
        //     width: 50%;
        //     font-size: 8pt;
        //     margin-bottom: 1em;
        // }
            

        }
        p {
            font-size: 13pt;
            width: 60%;
            padding: 0 80px 0 0;

            @include smallPhone() {
                display: none;
                font-size: 8pt;
                width: 50%;
            }
        }

        .box-red-paragrap-mainSlider{
            display: none;

            @include smallPhone(){
                display: flex;
                position: absolute;
                bottom: 0;
                height: 45%;
                width: 100%;
                background-color: rgba(255, 0, 8, 0.6);
                padding: 20px 30px 0 30px;
            }

            p{
                display: flex;

                @include smallPhone(){
                    display: flex;
                    top: 0;
                    width: 100%;
                    text-align: start;
                }
            }
        }
    }
}

.image2 {
    height: 90vh;
    width: 100%;
    background-image: url(../../img/slider2.jpg);
    background-size: cover;

    @include smallPhone() {
        background-size: cover;
        height: auto;
    }
    // @include smallPhoneDua() {
    //     background-size: cover;
    //     height: auto;
    // }

    .text1 {
        height: 100%;
        color: #ffffff;
        // border: 1px solid green;
        background: url(../../img/bgTextMobilez-01.svg);
        object-fit: cover;
        background-position: left;
        opacity: 0.8;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        padding: 0;

        @include deviceOne(){
            width: 55%;
        }

        @include deviceTwo(){
            width: 70%;
        }

        @include deviceThree(){
            width: 80%;
        }

        @include smallPhone() {
            display: flex;
            position: relative;
            background-size: cover;
            height: 100%;
            width: auto;
            background: none;
            background-repeat: no-repeat;
            align-items: flex-start;
            padding: 1rem 0rem 0 0rem;
            text-align: center;
            opacity: 1;
            padding: 0;
        }

        // @include smallPhoneDua() {
        //     padding: 4rem 2rem;
        //     text-align: center;
        // }
        
        h1 {
            width: 60%;
            font-size: 25pt;
            text-transform: uppercase;
            margin-bottom: 2em;
            
        @include smallPhone() {
            position: absolute;
            top: 30px;
            left: 30px;
            font-size: 10pt;
            width: 50%;
            text-align: start;
            // margin-bottom: 1em;
        }
        // @include smallPhoneDua() {
        //     // border: 1px solid blue;
        //     width: 50%;
        //     font-size: 9pt;
        // }
            

        }
        p {
            font-size: 13pt;
            width: 60%;
            padding: 0 80px 0 0;

            @include smallPhone() {
                display: none;
                font-size: 8pt;
                width: 50%;
            }
        }
    }
    
}

.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;

    @include smallPhone(){
        height: auto;
    }

    .carousel-inner {

        .carousel-item {
            width: 105%;
        }
    }
    
    .carousel-indicators {
        right: auto;
        bottom: 5%;
        margin-bottom: 30px;

        @include smallPhone() {
            margin-bottom: 0;
        }
        
            .indikator {
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: flex;
                opacity: 0.5;
                justify-content: center;
                align-items: center;
                color: #ffffff;
                text-align: center;
                vertical-align: middle;
                margin: 1px;
                padding: 15px;

                @include smallPhone() {
                    width: 10px;
                    height: 10px;
                    padding: 10px;
                }
                @include smallPhoneDua() {
                    width: 7px;
                    height: 7px;
                    padding: 8px;
                }
                

                .indicatorText {
                    cursor: pointer;
                    margin: 0 5px;
                    transition: opacity .6s ease;
                    font-weight: bold;
                    text-align: center;
                    font-family: 'Roboto';

                    @include smallPhone() {
                        font-size: 7pt;
    
                    }
                }
            }
            .indikator.active {
                opacity: 1;
                background: #ffffff;
                color: $darkRed;

            }
    }

    .carousel-control-prev,
    .carousel-control-next {
    width: 7%;
    text-decoration: none;
    height: 0;
    top: 50%;
}
}


.arrowsLeft {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    // border: 1px solid blue;
    // background: rgba(255, 186, 186, 0.8);
    // display: none;
    @include smallPhone() {
        height: 20px;
        width: 20px;
    }
    
}


.arrowsRight {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    // border: 1px solid blue;
    // background: rgba(255, 186, 186, 0.8);

    @include smallPhone() {
        height: 20px;
        width: 20px;
    }
    
}



