.box-carousel-ketuaUmumPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
  width: 100%;
  background: #555;
}

.box-carousel-ketuaUmumPage .carousel-ketuaUmumPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.box-carousel-ketuaUmumPage .carousel-ketuaUmumPage .col1-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  background-image: url(../../img/ketuaumum6.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.box-carousel-ketuaUmumPage .carousel-ketuaUmumPage .col1-container-1 .cont-img-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  width: 100%;
  overflow: hidden;
}

.box-carousel-ketuaUmumPage .carousel-ketuaUmumPage .col1-container-1 .cont-img-col1 .col1-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #fff;
}

.box-carousel-ketuaUmumPage .carousel-ketuaUmumPage .col1-container-1 .cont-img-col1 .col1-img .box-txt-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.box-carousel-ketuaUmumPage .carousel-ketuaUmumPage .col1-container-1 .cont-img-col1 .col1-img .box-txt-title h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  color: #fff;
  padding: 25% 20% 20% 20%;
  overflow: hidden;
}

.box-carousel-ketuaUmumPage .carousel-ketuaUmumPage .col1-container-1 .cont-img-col1 .col2-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
  width: 100%;
  background-color: rgba(255, 0, 8, 0.6);
  overflow: hidden;
}

.box-carousel-ketuaUmumPage .carousel-ketuaUmumPage .col1-container-1 .cont-img-col1 .col2-img .garis-strip-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 2.5px;
  width: 230px;
  background: #fff;
  border-radius: 2px;
  margin: -2px 0 0 65px;
  overflow: hidden;
}

.box-carousel-ketuaUmumPage .carousel-ketuaUmumPage .col1-container-1 .cont-img-col1 .col2-img .box-txt-desk-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px 65px 0 65px;
  overflow: hidden;
}

.box-carousel-ketuaUmumPage .carousel-ketuaUmumPage .col1-container-1 .cont-img-col1 .col2-img .box-txt-desk-col2 .txt-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: #fff;
  overflow: hidden;
}

.box-carousel-ketuaUmumPage .carousel-ketuaUmumPage .col1-container-1 .cont-img-col1 .col2-img .box-txt-desk-col2 .txt-desk-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  overflow: hidden;
}
/*# sourceMappingURL=CarouselKetuaUmumPage.css.map */