<div class="pageStruktur">
    <!-- {/* HEADERS   */} -->
    <div class="headers">
        <div class="backgrounds">
            <div class="textBackgroundPartai">
                <h2>Solid Bergerak Untuk<br />Indonesia Raya </h2>
            </div>
        </div>
    </div>
    <!-- {/* END */} -->

    <!-- {/* LINK PARTAI */} -->
    <div class="linkedPartai">
        <!-- <BreadCrumbs link1="home"
                        to1="/"
                        link2="Partai"
                        to2="/partai"
                        page3="Struktur Pengurus" /> -->
        <span class="wrapperBread">
            <ul class="breadcrumb" style="background : none;">
                <li><i class="fa fa-home customBread"></i></li>
                <li class="breadcrumb-item customBread"><a href=""></a></li>
                <li style="color : #6c757d;" class="breadcrumb-item active customBread"></li>
            </ul>
        </span>
    </div>
    <!-- {/* END */} -->

    <div class="pengurusPage">
        <!-- <MainDivider text="pengurus"
                        garisMerah="3rem" /> -->
        <div class="col3-container-3" style="margin :2 rem 0; padding :0px 10%;">
            <div class="box-jdl-col3">
                <p class="txt-jdl-col3">
                    pengurus

                </p>
            </div>
            <div class="box-garis-lurus-col3">
                <div class="garis-merah" style="width :100px;">

                </div>
            </div>
        </div>

        <div class="strukturTextHead">
            <h2>Struktur Pengurus Dewan Pimpinan Pusat<br />PDI Perjuangan</h2>
        </div>

        <div class="pengurusList">
            <div class="listPengurus">
                <!-- <StrukturPaginate/> -->
                <div class="wrapperPaginate" style="display:flex; justify-content: center; flex-wrap:wrap;">
                    <a class="circleCard" href="/detailpengurus">
                        <div class="imageCircle" style=" background:url(); background-size :cover;"></div>
                        <small class="jabatan"></small>
                        <h6 class="nama"></h6>
                    </a>

                    <nav aria-label="Page navigation example"
                        style="margin-top :10px; width:100%; display:flex; justify-content:center;">

                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link prevnext" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link" href="/partai">01</a></li>
                            <li class="page-item">
                                <a class="page-link prevnext" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
    <!-- {/* END */} -->


</div>