<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
  integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">

<link rel="stylesheet" href="./StrukturPage.css">
<link rel="stylesheet" href="./BreadCrumbs.css">
<link rel="stylesheet" href="./MainDivider.css">
<link rel="stylesheet" href="./StrukturPaginate.css">
<link rel="stylesheet" href="./CardCircle.css">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="pageStruktur">
    <div class="headers">
        <div class="backgrounds">
            <div class="textBackgroundStruktur">
                <h2>Solid Bergerak Untuk<br/>Indonesia Raya </h2>
            </div>
        </div>
    </div>
    
    <div class="linkedStruktur">

        <span class="wrapperBread">
            <ul class="breadcrumb" style="background: none;">
                <li><i class="fa fa-home customBread"></i></li>
                <li class="breadcrumb-item customBread"><a href="#home">Home</a></li>
                <li class="breadcrumb-item customBread"><a href="#partai">Partai</a></li>
                <li class="breadcrumb-item active customBread" style="color: #6c757d;">Struktur</li>
            </ul>
        </span>
    </div>

    <div class="pengurusPage">

            <div class="col3-container-3" style="margin: 2rem 0;">
                <div class="box-jdl-col3">
                    <p class="txt-jdl-col3">
                        pengurus
                    </p>
                </div>
                <div class="box-garis-lurus-col3">
                    <div class="garis-merah" style="width: 100px;">

                    </div>
                </div>
            </div>

        <div class="strukturTextHead">
            <h2>Struktur Pengurus Dewan Pimpinan Pusat<br/>PDI Perjuangan</h2>
        </div>

        <div class="pengurusList">
            <div class="listPengurus">
                <!-- <StrukturPaginate/> -->
                <div class="wrapperPaginate" style="display: flex; justify-content: center; flex-wrap: wrap;">
                    
                            

                        <a class="circleCard" href="#detailpengurus">
                            <div class="imageCircle" style="background-image: url(../../../img/megawati.png); background-size: cover;"></div>
                            <small class="jabatan">Ketua Umum</small>
                            <h6 class="nama">Megawati Soekarnoputri</h6>
                        </a>
                        <a class="circleCard" href="#detailpengurus">
                            <div class="imageCircle" style="background-image: url(../../../img/megawati.png); background-size: cover;"></div>
                            <small class="jabatan">Ketua Umum</small>
                            <h6 class="nama">Megawati Soekarnoputri</h6>
                        </a>
                        <a class="circleCard" href="#detailpengurus">
                            <div class="imageCircle" style="background-image: url(../../../img/megawati.png); background-size: cover;"></div>
                            <small class="jabatan">Ketua Umum</small>
                            <h6 class="nama">Megawati Soekarnoputri</h6>
                        </a>
                        <a class="circleCard" href="#detailpengurus">
                            <div class="imageCircle" style="background-image: url(../../../img/megawati.png); background-size: cover;"></div>
                            <small class="jabatan">Ketua Umum</small>
                            <h6 class="nama">Megawati Soekarnoputri</h6>
                        </a>
        
                    <nav aria-label="Page navigation example" style="margin-top: 10px; width: 100%; display: flex; justify-content: center;">
        
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link prevnext" href="#" aria-label="Previous">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li class="page-item active" ><a class="page-link" href="/partai" >01</a></li>
                            <li class="page-item">
                                <a class="page-link prevnext" href="#" aria-label="Next">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
        
                </div>
            </div>
        </div>
    </div>
    

</div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>