$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

$secondary : #f3f3f3;

.wrapperBeritaPage2{
    width: 100%;

    .headers-beritaPage2 {
        background: url(../../../../img/detailartikel1.jpg);
        background-size: cover;
        height: 25vh;
        background-position: center;
        
        @include smallPhone(){
            height: 20vh;
        }

        @include smallPhone(){
            height: 15vh;
        }

        .backgrounds {
            background-color: rgba(255, 0, 8, 0.1);
            width: 100%;
            height: 100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            color: #ffffff;

            .textBackgroundBerita {
                width: 30%;
                height: 50%;
                margin-left: 5rem;
            }
        }
    }
    .linkedBeritaPage2 {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 40%;
        margin-top: 15px;
        padding: 10px 10%;

        @include smallPhone(){
            width: 100%;
            padding: 0 2%;
        }

        i {
            span {
                margin-left: 5px;
                font-style: italic;
                font-size: 8pt;
            }
        }
    }

    // Container1
    .container-1-beritaPage2{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0 10% 40px 10%;

        @include smallPhone(){
            padding: 0%;
        }

        // Column1
        .col1-container-1-beritaPage2{
            display: flex;
            height: 70vh;
            width: 100%;

            @include smallPhone(){
                height: auto;
                flex-direction: column;
            }

            // Row2
            .row2-beritaPage2{
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 30%;

                @include smallPhone(){
                    height: auto;
                    width: 100%;
                    padding: 0 20px;
                }

                .jdl-row2-beritaPage2{
                    display: flex;
                    height: auto;
                    width: 100%;
                    padding: 1px;
                    justify-content: center;
                    align-items: center;

                    @include smallPhone(){
                        margin: 10px 0 0 0;
                    }

                    .txt-admin{
                        display: flex;
                        font-size: 10px;
                        color: #d80010;
                        margin: 1px;
                        
                        @include smallPhone(){
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                        }
                    }

                    .btn-fav{
                        display: flex;
                        cursor: pointer;
                        text-decoration: none;
                        
                        i{
                            display: flex;
                            font-size: 12px;
                            color: #d80010;
                            margin: 0 10px 0 80px;
                        }
                    }

                    .txt-jm-fav{
                        display: flex;
                        font-size: 12px;
                        color: #555;
                        text-align: start;
                        margin: 1px;
                    }
                }

                .title-2-beritaPage2{
                    display: flex;
                    font-size: 20px;
                    font-weight: 500;
                    color: #000;
                    text-align: start;
                    margin: 20px 0 0 0;

                    @include smallPhone(){
                        font-size: 20px;
                        font-weight: bold;
                        margin: 10px 0 0 0;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .txt-desk1-beritaPage2{
                    display: flex;
                    font-size: 13px;
                    color: #000;
                    text-align: start;
                    margin: 25px 0 0 0;

                    @include smallPhone(){
                        margin: 15px 0 0 0;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                    }
                }

                .box-medsos-beritaPage2{
                    display: flex;
                    flex-direction: column-reverse;
                    height: 50%;
                    width: 100%;

                    @include smallPhone(){
                        margin: 20px 0 0 0;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                    }

                    .socialMedia {
                        margin: 0px 0 0 0;
                        padding: 0 0px 0 0;
                        display: flex;
        
                        small {
                            color: #000000;
                            margin-right: 10px;

                            @include smallPhone(){
                                font-size: 12px;
                            }
                        }

                        i {
                            margin: 0 10px;
                            transition: .3s;

                            @include smallPhone(){
                                font-size: 13px;
                            }
        
                            &:hover {
                                color: #c70000;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
            // END Row2
        }
        // END Column1

        .garis-vertical-tipis{
            display: flex;
            height: 1px;
            width: 100%;
            background: #aaa;
            justify-content: center;
            margin: 60px 0 30px 0;

            .garis-merah-tebal{
                display: flex;
                position: absolute;
                height: 5px;
                width: 60px;
                background: #d80010;
                justify-content: center;
                margin: -5px 0;
            }
        }

        // Column2
        .col2-container-1-beritaPage2 {
            width: 100%;
            height: 55vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin-top: 0;
            padding: 10px 0%;

            @include smallPhone(){
                flex-direction: column;
                height: auto;
                padding: 0;
            }
        }
        // END Column2
    }
    // END Container1s
}