.wrapperPage2 {
  width: 100%;
}

.wrapperPage2 .headers {
  background: url(../../../../img/detailartikel1.jpg);
  background-size: cover;
  height: 25vh;
  background-position: center;
}

.wrapperPage2 .headers .backgrounds {
  background-color: rgba(255, 0, 8, 0.1);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.wrapperPage2 .headers .backgrounds .textBackgroundBerita {
  width: 30%;
  height: 50%;
  margin-left: 5rem;
}

.wrapperPage2 .linkedBerita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  margin-top: 20px;
  padding: 10px 10%;
}

.wrapperPage2 .linkedBerita i span {
  margin-left: 5px;
  font-style: italic;
  font-size: 8pt;
}

.wrapperPage2 .container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 0 10% 40px 10%;
}

.wrapperPage2 .container-1 .col1-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  width: 100%;
}

.wrapperPage2 .container-1 .col1-container-1 .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 70%;
  background: #555;
  margin: 0px 20px 0px 0;
  overflow: hidden;
}

.wrapperPage2 .container-1 .col1-container-1 .row1 .carousel-inner {
  height: 100%;
  width: 100%;
}

.wrapperPage2 .container-1 .col1-container-1 .row1 .carousel-inner .box-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 50px;
  width: 100px;
  background: rgba(255, 0, 8, 0.7);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 410px 0 0 540px;
  z-index: 100;
}

.wrapperPage2 .container-1 .col1-container-1 .row1 .carousel-inner .box-indicator .txt-no-slide-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  margin: 1px;
  color: #000;
}

.wrapperPage2 .container-1 .col1-container-1 .row1 .carousel-inner .box-indicator .txt-no-slide-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  margin: 1px;
  color: #000;
}

.wrapperPage2 .container-1 .col1-container-1 .row1 .carousel-inner .img1 {
  height: 100%;
  width: 100%;
  background-image: url(../../../../img/detailartikel7.jpg);
  background-size: cover;
}

.wrapperPage2 .container-1 .col1-container-1 .row1 .carousel-inner .img2 {
  height: 100%;
  width: 100%;
  background: #555;
}

.wrapperPage2 .container-1 .col1-container-1 .row1 .carousel-inner .img3 {
  height: 100%;
  width: 100%;
  background: #aaa;
}

.wrapperPage2 .container-1 .col1-container-1 .row1 .box-btn {
  overflow: hidden;
}

.wrapperPage2 .container-1 .col1-container-1 .row1 .box-btn .carousel-control-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 50px;
  margin: 410px 0 0 640px;
}

.wrapperPage2 .container-1 .col1-container-1 .row1 .box-btn .carousel-control-prev .carousel-control-prev-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url(../../../../img/detailartikel9.jpg);
  background-size: cover;
}

.wrapperPage2 .container-1 .col1-container-1 .row1 .box-btn .carousel-control-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 50px;
  margin: 410px 0 0 0;
}

.wrapperPage2 .container-1 .col1-container-1 .row1 .box-btn .carousel-control-next .carousel-control-next-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  background-image: url(../../../../img/detailartikel8.jpg);
  background-size: cover;
}

.wrapperPage2 .container-1 .col1-container-1 .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 30%;
}

.wrapperPage2 .container-1 .col1-container-1 .row2 .jdl-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
  padding: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapperPage2 .container-1 .col1-container-1 .row2 .jdl-row2 .txt-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  color: #d80010;
  margin: 1px;
}

.wrapperPage2 .container-1 .col1-container-1 .row2 .jdl-row2 .btn-fav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  text-decoration: none;
}

.wrapperPage2 .container-1 .col1-container-1 .row2 .jdl-row2 .btn-fav i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: #d80010;
  margin: 0 10px 0 80px;
}

.wrapperPage2 .container-1 .col1-container-1 .row2 .jdl-row2 .txt-jm-fav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  color: #555;
  text-align: start;
  margin: 1px;
}

.wrapperPage2 .container-1 .col1-container-1 .row2 .title-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  color: #000;
  text-align: start;
  margin: 20px 0 0 0;
}

.wrapperPage2 .container-1 .col1-container-1 .row2 .txt-desk1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  color: #000;
  text-align: start;
  margin: 25px 0 0 0;
}

.wrapperPage2 .container-1 .col1-container-1 .row2 .box-medsos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 50%;
  width: 100%;
}

.wrapperPage2 .container-1 .col1-container-1 .row2 .box-medsos .socialMedia {
  margin: 0px 0 0 0;
  padding: 0 0px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapperPage2 .container-1 .col1-container-1 .row2 .box-medsos .socialMedia small {
  color: #000000;
  margin-right: 10px;
}

.wrapperPage2 .container-1 .col1-container-1 .row2 .box-medsos .socialMedia i {
  margin: 0 10px;
  -webkit-transition: .3s;
  transition: .3s;
}

.wrapperPage2 .container-1 .col1-container-1 .row2 .box-medsos .socialMedia i:hover {
  color: #c70000;
  cursor: pointer;
}

.wrapperPage2 .container-1 .garis-vertical-tipis {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 1px;
  width: 100%;
  background: #aaa;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 60px 0 30px 0;
}

.wrapperPage2 .container-1 .garis-vertical-tipis .garis-merah-tebal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  height: 5px;
  width: 60px;
  background: #d80010;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: -5px 0;
}

.wrapperPage2 .container-1 .col2-container-1 {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0;
  padding: 10px 0%;
}

.wrapperPage2 .container-1 .col2-container-1 .col-cardContent {
  height: 100%;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  margin: 0 10px;
  background: #ffffff;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 10px;
}

.wrapperPage2 .container-1 .col2-container-1 .col-cardContent:hover {
  background: #d80010;
  color: #fff;
}

.wrapperPage2 .container-1 .col2-container-1 .col-cardContent .imageContent {
  width: 100%;
  height: 30vh;
  background-image: url(../../../../img/detailartikel3.jpg);
  background-size: cover;
  background-position: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.wrapperPage2 .container-1 .col2-container-1 .col-cardContent .imageTwo {
  width: 100%;
  height: 30vh;
  background: url(../../../../img/detailartikel4.jpg);
  background-size: cover;
  background-position: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.wrapperPage2 .container-1 .col2-container-1 .col-cardContent .imageThree {
  width: 100%;
  height: 30vh;
  background: url(../../../../img/detailartikel5.jpg);
  background-size: cover;
}

.wrapperPage2 .container-1 .col2-container-1 .col-cardContent .imageFour {
  width: 100%;
  height: 30vh;
  background: url(../../../../img/detailartikel6.jpg);
  background-size: cover;
}

.wrapperPage2 .container-1 .col2-container-1 .col-cardContent .textCard {
  width: 100%;
  padding: 10px 20px;
}
/*# sourceMappingURL=Page2.css.map */