$secondary : #f3f3f3;
@import "../../../utilities/variable/variables.scss";

$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}

.wrapper-berita-nasional{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    background: $secondary;

    .linked-berita-nasional {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-top: 15px;
        padding: $paddingSmall;

        @include smallPhone(){
            width: 100%;
            padding: 0 2%;
        }
    }

    // Container1
    .container1-berita-nasional{
        display: flex;
        height: auto;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 0 10%;

        @include smallPhone(){
            padding: 0 10px;
        }
    }
    // END Container1

    // Container2
    .container2-berita-nasional{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0 10%;
        margin: 30px 0 0 0;

        @include smallPhone(){
            padding: 0px;
        }

        // Column Card
        .column-card-berita-nasional{
            display: flex;
            flex-wrap: wrap;
            height: auto;
            width: 100%;

            @include smallPhone(){
                flex-direction: column;
                align-items: center;
            }
        }
        // END Column Card

        // Column Pagination
        .column-pagination-berita-nasional{
            display: flex;
            height: 10vh;
            width: 100%;
            justify-content: center;
            align-items: center;
        }
        // END Column Pagination
    }
    // END Container2
}