.wrapperInformasi {
    width: 100%;
  }
  
  .wrapperInformasi .headInformasi {
    background: url(../../../img/mask.png);
    background-size: cover;
    height: 25vh;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .headInformasi {
      height: 20vh;
    }
  }
  
  @media (max-width: 400px) {
    .wrapperInformasi .headInformasi {
      height: 15vh;
    }
  }
  
  .wrapperInformasi .headInformasi .textHeadInformasi {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 10%;
    color: #ffffff;
  }
  
  .wrapperInformasi .headInformasi .textHeadInformasi h2 {
    text-transform: uppercase;
    font-family: 'Roboto';
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .headInformasi .textHeadInformasi h2 {
      font-size: 15pt;
    }
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .headInformasi .textHeadInformasi h2 {
      font-size: 12pt;
    }
  }
  
  .wrapperInformasi .headInformasi .textHeadInformasi h2 .pdip {
    font-weight: 300;
  }
  
  .wrapperInformasi .linkedInformasi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 40%;
    margin-top: 20px;
    padding: 5px 10%;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .linkedInformasi {
      width: 100%;
      padding: 0 2%;
    }
  }
  
  .wrapperInformasi .profilContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 10%;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .profilContainer {
      width: 100%;
      padding: 0 2%;
    }
  }
  
  .wrapperInformasi .profilContainer .paragrapProfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-top: 1rem;
    position: relative;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .profilContainer .paragrapProfil {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: inherit;
    }
  }
  
  .wrapperInformasi .profilContainer .paragrapProfil .paragrapKiri {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: 'Roboto';
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .profilContainer .paragrapProfil .paragrapKiri {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  
  .wrapperInformasi .profilContainer .paragrapProfil .paragrapKiri .merdeka {
    font-style: italic;
  }
  
  .wrapperInformasi .profilContainer .paragrapProfil .paragrapKiri .solid {
    font-style: italic;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .profilContainer .paragrapProfil .paragrapKiri .solid {
      text-align: center;
    }
  }
  
  .wrapperInformasi .profilContainer .paragrapProfil .paragrapKiri .textParagrap {
    font-size: 10pt;
    width: 50vw;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .profilContainer .paragrapProfil .paragrapKiri .textParagrap {
      width: auto;
      font-size: 9pt;
      text-align: center;
      padding: 0 2%;
    }
  }
  
  .wrapperInformasi .profilContainer .paragrapKanan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50vw;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .profilContainer .paragrapKanan {
      width: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  
  .wrapperInformasi .profilContainer .paragrapKanan .backgroundPK {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 25vw;
    right: 0;
    height: 45vh;
    background: url(../../../img/illustrator.png);
    background-size: cover;
    color: #ffffff;
    font-family: 'Roboto';
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .profilContainer .paragrapKanan .backgroundPK {
      position: inherit;
      width: 100%;
    }
  }
  
  .wrapperInformasi .profilContainer .paragrapKanan .backgroundPK .textParagrapKanan {
    margin-top: 1rem;
    font-size: 10pt;
  }
  
  .wrapperInformasi .profilContainer .divider {
    margin-top: 1rem;
    border: 1px solid #000000;
    height: 1px;
    width: 100%;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .profilContainer .divider {
      margin: 1rem 0;
    }
  }
  
  .wrapperInformasi .profilContainer .ytProfil {
    margin-top: 2rem;
    padding: 5px 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .profilContainer .ytProfil {
      padding: 0 2%;
    }
  }
  
  .wrapperInformasi .profilContainer .ytProfil .ytIframe {
    width: 100%;
    height: 60vh;
    position: relative;
  }
  
  @media (max-width: 400px) {
    .wrapperInformasi .profilContainer .ytProfil .ytIframe {
      height: 40vh;
    }
  }
  
  .wrapperInformasi .profilContainer .ytProfil .ytIframe .iframeProfil {
    border: 0;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
  }
  
  @media (max-width: 400px) {
    .wrapperInformasi .profilContainer .ytProfil .ytIframe .iframeProfil {
      position: inherit;
    }
  }
  
  .wrapperInformasi .profilContainer .containerLaporan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 2rem;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .profilContainer .containerLaporan {
      padding: .5rem 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
  }
  
  .wrapperInformasi .profilContainer .containerLaporan .cardLaporan {
    width: 48%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 20vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: #e50209;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .profilContainer .containerLaporan .cardLaporan {
      width: 100%;
      margin: .5rem 0;
      border-radius: 5px;
    }
  }
  
  .wrapperInformasi .profilContainer .containerLaporan .cardLaporan:hover {
    background: #2f3542;
  }
  
  .wrapperInformasi .profilContainer .containerLaporan .cardLaporan .imageHarta {
    margin: 1rem;
  }
  
  .wrapperInformasi .profilContainer .containerLaporan .cardLaporan .textHarta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #ffffff;
    margin: 0 1rem;
  }
  
  .wrapperInformasi .profilContainer .containerLaporan .cardLaporan .textHarta .h5Harta {
    text-transform: uppercase;
  }
  
  .wrapperInformasi .profilContainer .containerLaporan .cardLaporan .textHarta .paragrapHarta {
    font-size: 8pt;
  }
  
  .wrapperInformasi .tataCaraContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 10%;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .tataCaraContainer {
      padding: 0 2%;
    }
  }
  
  .wrapperInformasi .sliderTataCara {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 1rem;
  }
  
  .wrapperInformasi .sliderTataCara .carousel-item .imageTC {
    width: 100%;
    display: block;
    height: 60vh;
    background: url(../../../img/illustrator2.png);
    background-size: cover;
    background-position: bottom;
    position: relative;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .sliderTataCara .carousel-item .imageTC {
      height: 35vh;
    }
  }
  
  @media (max-width: 400px) {
    .wrapperInformasi .sliderTataCara .carousel-item .imageTC {
      height: 30vh;
    }
  }
  
  .wrapperInformasi .sliderTataCara .carousel-item .imageTC .textTC {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  
  .wrapperInformasi .sliderTataCara .carousel-item .imageTC .textTC .pCarousel {
    width: 45%;
    font-weight: 700;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .sliderTataCara .carousel-item .imageTC .textTC .pCarousel {
      font-size: 9pt;
      text-align: center;
    }
  }
  
  @media (max-width: 400px) {
    .wrapperInformasi .sliderTataCara .carousel-item .imageTC .textTC .pCarousel {
      font-size: 7.5pt;
    }
  }
  
  .wrapperInformasi .sliderTataCara .carousel-item .imageTC .kunjungi {
    color: black;
    width: 10vw;
    border-radius: 25px;
    position: absolute;
    left: 60%;
    bottom: 20%;
    color: #d80010;
    border: 1px solid #d80010;
    font-size: 7pt;
    text-transform: uppercase;
    -webkit-transition: .3s;
    transition: .3s;
  }
  
  .wrapperInformasi .sliderTataCara .carousel-item .imageTC .kunjungi:hover {
    background: #d80010;
    color: #ffffff;
  }
  
  .wrapperInformasi .sliderTataCara .carousel-control-next-icon {
    background: url(../../../img/right.png);
    background-size: cover;
  }
  
  .wrapperInformasi .sliderTataCara .carousel-control-prev-icon {
    background: url(../../../img/left.png);
    background-size: cover;
  }
  
  .wrapperInformasi .sliderTataCara .carousel-control-next-icon,
  .wrapperInformasi .sliderTataCara .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .sliderTataCara .carousel-control-next-icon,
    .wrapperInformasi .sliderTataCara .carousel-control-prev-icon {
      width: 30px;
      height: 30px;
    }
  }
  
  @media (max-width: 400px) {
    .wrapperInformasi .sliderTataCara .carousel-control-next-icon,
    .wrapperInformasi .sliderTataCara .carousel-control-prev-icon {
      width: 25px;
      height: 25px;
    }
  }
  
  .wrapperInformasi .infoDua {
    padding: 0 10%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .infoDua {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 2%;
    }
  }
  
  .wrapperInformasi .infoDua .kolomFormulir {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25vh;
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .infoDua .kolomFormulir {
      width: 100%;
      height: 20vh;
    }
  }
  
  @media (max-width: 400px) {
    .wrapperInformasi .infoDua .kolomFormulir {
      width: 100%;
      height: 15vh;
    }
  }
  
  @media (max-width: 500px) {
    .wrapperInformasi .infoDua .kolomFormulir img {
      width: 40px;
    }
  }
  
  .wrapperInformasi .infoDua .kolomFormulir .textFormulir {
    margin-left: 1rem;
    font-family: 'Roboto';
  }
  
  @media (max-width: 400px) {
    .wrapperInformasi .infoDua .kolomFormulir .textFormulir {
      font-size: 13pt;
    }
  }
  
  .wrapperInformasi .infoDua .kolomFormulirSatu {
    background: #d80010;
    color: #ffffff;
  }
  
  .wrapperInformasi .infoDua .kolomFormulirDua {
    background: #ffffff;
  }

  .widgetDesktop {
    display: flex;
    justify-content: space-between;
    padding: 40px 10%;
    width: 100%;

    
}

@media (max-width: 500px) {
  .widgetDesktop {
    display: none;
  }
}
  /*# sourceMappingURL=InformasiPage.css.map */