<div class="wrapperBerita">
    <div class="headers">
        <div class="backgrounds">
            <div class="textBackgroundBerita">

            </div>
        </div>
    </div>
    <div class="linkedBerita">
        <!-- <BreadCrumbs link1="Home"
            to1="/"
            page2="Berita" /> -->
    </div>

    <!-- {/* Container1 */} -->
    <div class="container-1">
        <!-- {/* Column1 */} -->
        <!-- <CarouselBerita /> -->
        <!-- {/* END Column1 */} -->

        <!-- {/* Column2 */} -->
        <div class="col2-container-1">
            <!-- {/* Row1 */} -->
            <div class="row1-col2">
                <div class="box-img">

                </div>
                <div class="txt-img1">
                    <p class="txt-1">
                        BERITA NASIONAL
                    </p>
                </div>
            </div>
            <!-- {/* END Row1 */} -->
            <!-- {/* Row2 */} -->
            <div class="row2-col2">
                <div class="box-img">

                </div>
                <div class="txt-img2">
                    <p class="txt-2">
                        BERITA DAERAH
                    </p>
                </div>
            </div>
            <!-- {/* END Row2 */} -->
            <!-- {/* Row3 */} -->
            <div class="row3-col2">
                <div class="box-img">

                </div>
                <div class="txt-img3">
                    <p class="txt-3">
                        BERITA FOTO
                    </p>
                </div>
            </div>
            <!-- {/* END Row3 */} -->
            <!-- {/* Row4 */} -->
            <div class="row4-col2">
                <div class="box-img">

                </div>
                <div class="txt-img4">
                    <p class="txt-4">
                        KEGIATAN PARTAI
                    </p>
                </div>
            </div>
            <!-- {/* END Row4 */} -->

        </div>
        <!-- {/* END Column2 */} -->

        <!-- {/* Column3 */} -->
        <div class="col3-cardContent-container-1">
            <a href='/page1' class="col-cardContent card1">
                <div class="imageContent imageOne"></div>
                <div class="textCard">
                    <small>Admin PDI Perjuangan | 1 Januari 2019</small>
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis optio odit voluptatem harum
                        quam earum ut molestias.</p>
                </div>
            </a>

            <a href='/page2' class="col-cardContent">
                <div class="imageContent imageTwo"></div>
                <div class="textCard">
                    <small>Admin PDI Perjuangan | 1 Januari 2019</small>
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis optio odit voluptatem harum
                        quam earum ut molestias.</p>
                </div>
            </a>
            <div class="col-cardContent">
                <div class="imageContent imageThree"></div>
                <div class="textCard">
                    <small>Admin PDI Perjuangan | 1 Januari 2019</small>
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis optio odit voluptatem harum
                        quam earum ut molestias.</p>
                </div>
            </div>
        </div>
        <!-- {/* END Column3 */} -->

        <!-- {/* Column4 */} -->
        <div class="col4-container-1">
            <div class="col-title-berita-foto">
                <p class="txt-berita-foto">
                    BERITA FOTO
                </p>
            </div>
            <div class="col-garis-lurus">
                <div class="garis-merah">

                </div>
            </div>
        </div>
        <!-- {/* END Column4 */} -->

        <!-- {/* Column5 */} -->
        <div class="col5-container-1">
            <!-- {/* Row1 */} -->
            <div class="row1-col5">
                <div class="box-img">

                </div>
                <div class="box-jdl-row1">
                    <h1>KONGRES Ke- 5 PDI Perjuangan "Solid Bergerak Untuk Indonesia Raya" Bali</h1>
                </div>
            </div>
            <!-- {/* END Row1 */} -->
            <!-- {/* Row2 */} -->
            <div class="row2-col5">
                <!-- {/* Column1 */} -->
                <div class="col1-row2">

                </div>
                <!-- {/* END Column1 */} -->
                <!-- {/* Column2 */} -->
                <div class="col2-row2">
                    <p class="txt-jdl-col2">
                        Sekolah Sekretaris DPD & DPC PDI Perjuangan se Indonesia
                    </p>
                    <p class="txt-desk-col2">
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet illo ipsum modi provident ut
                        molestiae iure, reiciendis dicta dolores, omnis sit. Praesentium quasi, numquam sint pariatur
                        illo quaerat velit dolor!quasi, numquam sint pariatur illo quaerat velit dolor! sint pariatur
                        illo quaerat velit dolor!
                    </p>
                </div>
                <!-- {/* END Column2 */} -->
            </div>
            <!-- {/* END Row2 */} -->
        </div>
        <!-- {/* END Column5 */} -->
    </div>
    <!-- {/* END Container1 */} -->

    <!-- {/* Container2 */} -->
    <div class="container-2">
        <!-- {/* Column1 */} -->
        <div class="col1-container-2 banner-berita">
            <p class="txt-title-col1">
                Ut enim ad minim veniam, quis nostrud
                <br /> exercitation ullamco laboris
            </p>
        </div>
        <!-- {/* END Column1 */} -->
        <!-- {/* Column2 */} -->
        <div class="col2-container-2">
            <button class="btn-lihat-col2">
                LIHAT
            </button>
        </div>
        <!-- {/* END Column2 */} -->
    </div>
    <!-- {/* END Container2 */} -->

    <!-- {/* Container3 */} -->
    <div class="container-3">
        <!-- {/* Column1 */} -->
        <div class="col1-container-3">
            <div class="box-jdl-col1">
                <p class="txt-jdl-col1">
                    BERITA DAERAH
                </p>
            </div>
            <div class="box-garis-lurus-col1">
                <div class="garis-merah">

                </div>
            </div>
        </div>
        <!-- {/* END Column1 */} -->

        <!-- {/* Column2 */} -->
        <div class="col2-cardContent-container-3">
            <div class="col-cardContent">
                <div class="imageContent imageOne"></div>
                <div class="textCard">
                    <small>Admin PDI Perjuangan | 1 Januari 2019</small>
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis optio odit voluptatem harum
                        quam earum ut molestias.</p>
                </div>

            </div>
            <div class="col-cardContent">
                <div class="imageContent imageTwo"></div>
                <div class="textCard">
                    <small>Admin PDI Perjuangan | 1 Januari 2019</small>
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis optio odit voluptatem harum
                        quam earum ut molestias.</p>
                </div>

            </div>
            <div class="col-cardContent">
                <div class="imageContent imageThree"></div>
                <div class="textCard">
                    <small>Admin PDI Perjuangan | 1 Januari 2019</small>
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis optio odit voluptatem harum
                        quam earum ut molestias.</p>
                </div>
            </div>
        </div>
        <!-- {/* END Column2 */} -->

        <!-- {/* Column3 */} -->
        <div class="col3-container-3">
            <div class="box-jdl-col3">
                <p class="txt-jdl-col3">
                    KEGIATAN PARTAI
                </p>
            </div>
            <div class="box-garis-lurus-col3">
                <div class="garis-merah">

                </div>
            </div>
        </div>
        <!-- {/* END Column3 */} -->

        <!-- {/* Column4 */} -->
        <div class="col4-cardContent-container-3">
            <div class="col-cardContent">
                <div class="imageContent imageOne"></div>
                <div class="textCard">
                    <small>Admin PDI Perjuangan | 1 Januari 2019</small>
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis optio odit voluptatem harum
                        quam earum ut molestias.</p>
                </div>

            </div>
            <div class="col-cardContent">
                <div class="imageContent imageTwo"></div>
                <div class="textCard">
                    <small>Admin PDI Perjuangan | 1 Januari 2019</small>
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis optio odit voluptatem harum
                        quam earum ut molestias.</p>
                </div>

            </div>
            <div class="col-cardContent">
                <div class="imageContent imageThree"></div>
                <div class="textCard">
                    <small>Admin PDI Perjuangan | 1 Januari 2019</small>
                    <h5>Lorem ipsum dolor, sit amet consectetur adipisicing.</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis optio odit voluptatem harum
                        quam earum ut molestias.</p>
                </div>
            </div>
        </div>
        <!-- {/* END Column4 */} -->
    </div>
    <!-- {/* END Container3 */} -->
</div>