.wrapperBerita {
  width: 100%;
  background: #f3f3f3;
}

.wrapperBerita .headers {
  background: url(../../img/pemilu8.jpg);
  background-size: cover;
  height: 25vh;
  background-position: center;
}

@media (max-width: 500px) {
  .wrapperBerita .headers {
    height: 20vh;
  }
}

@media (max-width: 500px) {
  .wrapperBerita .headers {
    height: 15vh;
  }
}

.wrapperBerita .headers .backgrounds {
  background-color: rgba(255, 0, 8, 0.1);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.wrapperBerita .headers .backgrounds .textBackgroundBerita {
  width: 30%;
  height: 50%;
  margin-left: 5rem;
}

.wrapperBerita .linkedBerita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  margin-top: 15px;
  padding: 10px 10%;
}

@media (max-width: 500px) {
  .wrapperBerita .linkedBerita {
    width: 100%;
    padding: 0 2%;
  }
}

.wrapperBerita .container-1-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 0 10%;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-1-beritaPage {
    padding: 0;
  }
}

.wrapperBerita .container-1-beritaPage .cardBerita1-col3-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60vh;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

@media (max-width: 500px) {
  .wrapperBerita .container-1-beritaPage .cardBerita1-col3-container-1 {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.wrapperBerita .container-1-beritaPage .col4-container-1-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
  width: 100%;
  background: #f3f3f3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-1-beritaPage .col4-container-1-beritaPage {
    padding: 0 10px;
  }
}

.wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 5px;
  }
}

.wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row1-col5-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  width: 30%;
  background-color: #d80010;
  color: #fff;
  background-size: cover;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 500px) {
  .wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row1-col5-beritaPage {
    height: 40vh;
    width: 100%;
    margin: 0 0 10px 0;
  }
}

.wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row1-col5-beritaPage:hover {
  background: #fff;
  color: #000;
}

.wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row1-col5-beritaPage .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  width: 100%;
  background-image: url(../../img/pemilu16.jpg);
  background-size: cover;
  overflow: hidden;
}

.wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row1-col5-beritaPage .box-jdl-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row1-col5-beritaPage .box-jdl-row1 h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  padding: 20px;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row1-col5-beritaPage .box-jdl-row1 h1 {
    font-size: 15px;
    margin: 1px;
  }
}

.wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row2-col5-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 70%;
  background: #fff;
  color: #000;
  margin: 0 0 0 20px;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row2-col5-beritaPage {
    height: 50vh;
    width: 100%;
    margin: 0;
  }
}

.wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row2-col5-beritaPage:hover {
  background: #d80010;
  color: #fff;
}

.wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row2-col5-beritaPage .col1-row2-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  width: 100%;
  background: url(../../img/pemilu17.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row2-col5-beritaPage .col1-row2-beritaPage {
    height: 60%;
  }
}

.wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row2-col5-beritaPage .col2-row2-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
  width: 100%;
  padding: 20px 35px 5px 35px;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row2-col5-beritaPage .col2-row2-beritaPage {
    height: 40%;
    padding: 20px 20px 20px 20px;
  }
}

.wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row2-col5-beritaPage .col2-row2-beritaPage .txt-jdl-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  text-align: start;
  margin: 0 0 5px 0;
  padding: 0 0 2px 0;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row2-col5-beritaPage .col2-row2-beritaPage .txt-jdl-col2 {
    font-size: 15px;
  }
}

.wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row2-col5-beritaPage .col2-row2-beritaPage .txt-desk-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  text-align: start;
  padding: 0 0 10px 0;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-1-beritaPage .col5-container-1-beritaPage .row2-col5-beritaPage .col2-row2-beritaPage .txt-desk-col2 {
    font-size: 10px;
  }
}

.wrapperBerita .container-2-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 55vh;
  width: 100%;
  background-image: url(../../img/ketuaumum7.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 50px 0 0px 0;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-2-beritaPage {
    height: 32vh;
    background-attachment: inherit;
  }
}

.wrapperBerita .container-2-beritaPage .col1-container-2-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 70%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapperBerita .container-2-beritaPage .col1-container-2-beritaPage .txt-title-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-2-beritaPage .col1-container-2-beritaPage .txt-title-col1 {
    font-size: 15px;
  }
}

.wrapperBerita .container-2-beritaPage .col2-container-2-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapperBerita .container-3-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 0 10% 50px 10%;
}

@media (max-width: 500px) {
  .wrapperBerita .container-3-beritaPage {
    padding: 0 0px;
  }
}

.wrapperBerita .container-3-beritaPage .col1-container-3-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-3-beritaPage .col1-container-3-beritaPage {
    padding: 0 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.wrapperBerita .container-3-beritaPage .col2-cardContent-container-3-beritaPage {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0;
  padding: 0px 0%;
}

@media (max-width: 500px) {
  .wrapperBerita .container-3-beritaPage .col2-cardContent-container-3-beritaPage {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.wrapperBerita .container-3-beritaPage .col3-container-3-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-3-beritaPage .col3-container-3-beritaPage {
    padding: 0 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.wrapperBerita .container-3-beritaPage .col4-cardContent-container-3-beritaPage {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  padding: 0px 0%;
  overflow: hidden;
}

@media (max-width: 500px) {
  .wrapperBerita .container-3-beritaPage .col4-cardContent-container-3-beritaPage {
    height: auto;
  }
}

.wrapperBerita .container-3-beritaPage .col4-cardContent-container-3-beritaPage .col2-cardContent-container-3-beritaPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 500px) {
  .wrapperBerita .container-3-beritaPage .col4-cardContent-container-3-beritaPage .col2-cardContent-container-3-beritaPage {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=BeritaPage.css.map */