.wrapperBerita {
  width: 100%;
  background: #f3f3f3;
}

.wrapperBerita .headers {
  background: url(../../img/pemilu8.jpg);
  background-size: cover;
  height: 25vh;
  background-position: center;
}

.wrapperBerita .headers .backgrounds {
  background-color: rgba(255, 0, 8, 0.1);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.wrapperBerita .headers .backgrounds .textBackgroundBerita {
  width: 30%;
  height: 50%;
  margin-left: 5rem;
}

.wrapperBerita .linkedBerita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 40%;
  margin-top: 15px;
  padding: 10px 10%;
}

.wrapperBerita .container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 0 10%;
  overflow: hidden;
}

.wrapperBerita .container-1 .cardBerita1-col3-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60vh;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  margin: 0;
  padding: 0px 0 0 0%;
}

.wrapperBerita .container-1 .col4-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.wrapperBerita .container-1 .col5-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  width: 100%;
  overflow: hidden;
}

.wrapperBerita .container-1 .col5-container-1 .row1-col5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  height: 100%;
  width: 30%;
  background-color: #d80010;
  color: #fff;
  background-size: cover;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

.wrapperBerita .container-1 .col5-container-1 .row1-col5:hover {
  background: #fff;
  color: #000;
}

.wrapperBerita .container-1 .col5-container-1 .row1-col5 .box-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  width: 100%;
  background-image: url(../../img/pemilu16.jpg);
  background-size: cover;
  overflow: hidden;
}

.wrapperBerita .container-1 .col5-container-1 .row1-col5 .box-jdl-row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapperBerita .container-1 .col5-container-1 .row1-col5 .box-jdl-row1 h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  padding: 20px;
  overflow: hidden;
}

.wrapperBerita .container-1 .col5-container-1 .row2-col5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 70%;
  background: #fff;
  color: #000;
  margin: 0 0 0 20px;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  overflow: hidden;
}

.wrapperBerita .container-1 .col5-container-1 .row2-col5:hover {
  background: #d80010;
  color: #fff;
}

.wrapperBerita .container-1 .col5-container-1 .row2-col5 .col1-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70%;
  width: 100%;
  background: url(../../img/pemilu17.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.wrapperBerita .container-1 .col5-container-1 .row2-col5 .col2-row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 30%;
  width: 100%;
  padding: 20px 35px 5px 35px;
  overflow: hidden;
}

.wrapperBerita .container-1 .col5-container-1 .row2-col5 .col2-row2 .txt-jdl-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  text-align: start;
  margin: 0 0 5px 0;
  padding: 0 0 2px 0;
  overflow: hidden;
}

.wrapperBerita .container-1 .col5-container-1 .row2-col5 .col2-row2 .txt-desk-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  text-align: start;
  padding: 0 0 10px 0;
  overflow: hidden;
}

.wrapperBerita .container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 55vh;
  width: 100%;
  background-image: url(../../img/ketuaumum7.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  margin: 50px 0 0px 0;
  overflow: hidden;
}

.wrapperBerita .container-2 .col1-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  height: 70%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapperBerita .container-2 .col1-container-2 .txt-title-col1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  overflow: hidden;
}

.wrapperBerita .container-2 .col2-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30%;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.wrapperBerita .container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: auto;
  width: 100%;
  padding: 0 10% 50px 10%;
}

.wrapperBerita .container-3 .col1-container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
  width: 100%;
  overflow: hidden;
}

.wrapperBerita .container-3 .col2-cardContent-container-3 {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0;
  padding: 0px 0%;
}

.wrapperBerita .container-3 .col3-container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 20vh;
  width: 100%;
  overflow: hidden;
}

.wrapperBerita .container-3 .col4-cardContent-container-3 {
  width: 100%;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 0;
  padding: 10px 0%;
  overflow: hidden;
}
/*# sourceMappingURL=BeritaPage.css.map */