// @import "../../../utilities/variable/variables.scss";

$smallPhoneSatu : 500px;
$smallPhoneDua : 400px;
@mixin smallPhone {
    @media (max-width : #{$smallPhoneSatu}) {
        @content;
    }
}
@mixin smallPhoneDua {
    @media (max-width : #{$smallPhoneDua}) {
        @content;
    }
}


.wrapperBerita{
    width: 100%;
    background: #f3f3f3;

    .headers {
        background: url(../../img/pemilu8.jpg);
        background-size: cover;
        height: 25vh;
        background-position: center;

        @include smallPhone(){
            height: 20vh;
        }

        @include smallPhone(){
            height: 15vh;
        }

        .backgrounds {
            background-color: rgba(255, 0, 8, 0.1);
            width: 100%;
            height: 100%;
            display: flex;
            // justify-content: center;
            align-items: center;
            color: #ffffff;

            .textBackgroundBerita {
                width: 30%;
                height: 50%;
                margin-left: 5rem;
            }
        }
    }
    .linkedBerita {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 40%;
        margin-top: 15px;
        padding: 10px 10%;

        @include smallPhone(){
            width: 100%;
            padding: 0 2%;
        }
    }

    // Container1
    .container-1-beritaPage{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0 10%;
        overflow: hidden;

        @include smallPhone(){
            padding: 0;
        }


        // Column3
        .cardBerita1-col3-container-1 {
            display: flex;
            width: 100%;
            height: 60vh;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            cursor: pointer;

            @include smallPhone(){
                height: auto;
                flex-direction: column;
            }
        }
        // END Column3

        // Column4
        .col4-container-1-beritaPage{
            display: flex;
            height: 20vh;
            width: 100%;
            background: #f3f3f3;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            @include smallPhone(){
                padding: 0 10px;
            }
        }
        // END Column4

        // Column5
        .col5-container-1-beritaPage{
            display: flex;
            height: 70vh;
            width: 100%;
            overflow: hidden;

            @include smallPhone(){
                height: auto;
                flex-direction: column;
                padding: 0 5px;
            }

            // Row1
            .row1-col5-beritaPage{
                display: flex;
                flex-direction: column;
                position: relative;
                height: 100%;
                width: 30%;
                background-color: #d80010;
                color: #fff;
                background-size: cover;
                overflow: hidden;
                transition: .5s;

                @include smallPhone(){
                    height: 40vh;
                    width: 100%;
                    margin: 0 0 10px 0;
                }

                &:hover{
                    background: #fff;
                    color: #000;
                }

                .box-img{
                    display: flex;
                    height: 70%;
                    width: 100%;
                    background-image: url(../../img/pemilu16.jpg);
                    background-size: cover;
                    overflow: hidden;
                }

                .box-jdl-row1{
                    display: flex;
                    height: 30%;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;

                    h1{
                        display: flex;
                        font-size: 20px;
                        padding: 20px;
                        overflow: hidden;

                        @include smallPhone(){
                            font-size: 15px;
                            margin: 1px;
                        }
                    }
                }
            }
            // END Row1

            // Row2
            .row2-col5-beritaPage{
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 70%;
                background: #fff;
                color: #000;
                margin: 0 0 0 20px;
                text-decoration: none;
                transition: .5s;
                overflow: hidden;

                @include smallPhone(){
                    height: 50vh;
                    width: 100%;
                    margin: 0;
                }
                
                &:hover{
                    background: #d80010;
                    color: #fff;
                }

                // Column1
                .col1-row2-beritaPage{
                    display: flex;
                    height: 70%;
                    width: 100%;
                    background: url(../../img/pemilu17.jpg);
                    background-size: cover;
                    background-position: center;
                    overflow: hidden;

                    @include smallPhone(){
                        height: 60%;
                    }
                }
                // END Column1

                // Column2
                .col2-row2-beritaPage{
                    display: flex;
                    flex-direction: column;
                    height: 30%;
                    width: 100%;
                    padding: 20px 35px 5px 35px;
                    overflow: hidden;

                    @include smallPhone(){
                        height: 40%;
                        padding: 20px 20px 20px 20px;
                    }

                    .txt-jdl-col2{
                        display: flex;
                        font-size: 20px;
                        font-weight: 500;
                        text-align: start;
                        margin: 0 0 5px 0;
                        padding: 0 0 2px 0;
                        overflow: hidden;

                        @include smallPhone(){
                            font-size: 15px;
                        }
                    }

                    .txt-desk-col2{
                        display: flex;
                        font-size: 12px;
                        text-align: start;
                        padding: 0 0 10px 0;
                        overflow: hidden;

                        @include smallPhone(){
                            font-size: 10px;
                        }
                    }
                }
                // END Column2
            }
            // END Row2
        }
        // END Column5
    }
    // END Container1

    // Container2
    .container-2-beritaPage{
        display: flex;
        flex-direction: column;
        height: 55vh;
        width: 100%;
        background-image: url(../../img/ketuaumum7.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        margin: 50px 0 0px 0;
        overflow: hidden;

        @include smallPhone(){
            height: 32vh;
            background-attachment: inherit;
        }

        // Column1
        .col1-container-2-beritaPage{
            display: flex;
            flex-direction: column-reverse;
            height: 70%;
            width: 100%;
            align-items: center;
            overflow: hidden;

            .txt-title-col1{
                display: flex;
                font-size: 30px;
                font-weight: bold;
                color: #fff;
                text-align: center;
                overflow: hidden;

                @include smallPhone(){
                    font-size: 15px;
                }
            }
        }
        // END Column1

        // Column2
        .col2-container-2-beritaPage{
            display: flex;
            height: 30%;
            width: 100%;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }
        // END Column2
    }
    // END Container2

    // Container3
    .container-3-beritaPage{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
        padding: 0 10% 50px 10%;

        @include smallPhone(){
            padding: 0 0px;
        }

        // Column1
        .col1-container-3-beritaPage{
            display: flex;
            height: 20vh;
            width: 100%;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            @include smallPhone(){
                padding: 0 10px;
                justify-content: center;
                align-items: center;
            }
        }
        // END Column1

        // Column2
        .col2-cardContent-container-3-beritaPage {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin-top: 0;
            padding: 0px 0%;
        
            @include smallPhone(){
                height: auto;
                flex-direction: column;
                padding: 0;
            }
        }
        // END Column2

        // Column3
        .col3-container-3-beritaPage{
            display: flex;
            height: 20vh;
            width: 100%;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            @include smallPhone(){
                padding: 0 10px;
                justify-content: center;
                align-items: center;
            }
        }
        // END Column3

        // Column4
        .col4-cardContent-container-3-beritaPage {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 0;
            padding: 0px 0%;
            overflow: hidden;

            @include smallPhone(){
                height: auto;
            }

            .col2-cardContent-container-3-beritaPage{
                display: flex;

                @include smallPhone(){
                    flex-direction: column;
                }
            }
        }
        // END Column4
    }
    // END Container3
}