// Responsive Max Width 500px
@media screen and (max-width : 500px){
    .box-carousel-beritaPage{
        height: 40vh !important;
        padding: 0 !important;
        margin: 0;

        // Column1
        .box1-beritaPage{
            height: 40vh !important;

            .box-txt-title{
                height: 100%;

                h1{
                    font-size: 20px !important;
                }
            }
        }
        // END Column1

        // Column2
        .col2-img{
            height: 30%;

            .garis-strip-col2{
                width: 130px !important;
                margin: -2px 0 0 30px !important; 
             }

            .box-txt-desk-col2{
                display: flex;
                padding: 15px 30px 0 30px !important; 

                .txt-admin{
                    font-size: 7px !important;
                    padding: 2px 0 !important;
                }
    
                .txt-desk-col2{
                    font-size: 10px !important;
                }
            }
        }
        // END Column2
    }
}
// END Responsive Max Width 500px

.carousel-beritaPage{
    overflow: hidden;

    .box-carousel-beritaPage{
        display: flex;
        height: 40vh;
        width: 100%;

            .box1-beritaPage{
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 100%;
                background-image: url(../../img/ketuaumum6.jpg);
                background-position: center;
                background-size: cover;
                overflow: hidden;
        
                .cont-img-col1{
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    width: 100%;
                    overflow: hidden;
        
                    // Column1
                    .col1-img{
                        display: flex;
                        height: 60%;
                        width: 100%;
                        overflow: hidden;
                        border-bottom: 1px solid #fff;
        
                        .box-txt-title{
                            display: flex;
                            height: 100%;
                            width: auto;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
        
                            h1{
                                display: flex;
                                font-size: 30px;
                                color: #fff;
                                padding: 25% 20% 20% 20%;
                                overflow: hidden;
                            }
                        }  
                    }
                    // END Column1
        
                    // Column2
                    .col2-img{
                        display: flex;
                        flex-direction: column;
                        height: 40%;
                        width: 100%;
                        background-color: rgba(255, 0, 8, 0.6);
                        overflow: hidden;
                        transition: .5s;

                        &:hover{
                            background: #111;
                        }
        
                        .garis-strip-col2{
                            display: flex;
                            position: absolute;
                            height: 2.5px;
                            width: 230px;
                            background: #fff;
                            border-radius: 2px;
                            margin: -2px 0 0 65px;
                            overflow: hidden;
                        }
        
                        .box-txt-desk-col2{
                            display: flex;
                            flex-direction: column;
                            height: 100%;
                            width: 100%;
                            padding: 20px 65px 0 65px;
                            overflow: hidden;
        
                            .txt-admin{
                                display: flex;
                                font-size: 12px;
                                color: #fff;
                                overflow: hidden;
                            }
        
                            .txt-desk-col2{
                                display: flex;
                                // font-size: 15px;
                                font-weight: 500;
                                color: #fff;
                                overflow: hidden;
                            }
                        }
                    }
                    // END Column2
                
            }  
            
            .box2-beritaPage{
                display: flex;
                height: 100%;
                width: 100%;
                background: #444;
            }
        } 
    }
}