<!-- dedi -->
<div class="wrapperVideo">
  <div class="linkedVideo">
    <!-- <BreadCrumbs link1="Home" -->
    to1="/" link2="Multimedia" to2="/multimedia" page3="Video" />
  </div>

  <!-- <VMedia headline="Ketua Umum PDI Perjuangan, Hj. Megawati Soekarnoputri Meresmikan 20 Kantor Partai" /> -->

  <div class="dividerVideo">
    <div class="borderVideo"></div>
  </div>
  <div
    class="wrapperCard"
    style="display: 'flex'; flex-direction: 'row'; margin-top: '2rem';"
  >
    <!-- <Cards imageCard={megawati} -->
    TextH5="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque
    dolor, tempora optio at nam eaque!" h5Font="10pt" h5Weight="bold"
    borderRadius="10px" />
    <!-- <Cards imageCard={megawati} -->
    TextH5="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque
    dolor, tempora optio at nam eaque!" h5Font="10pt" h5Weight="bold"
    borderRadius="10px" />
    <!-- <Cards imageCard={megawati} -->
    TextH5="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque
    dolor, tempora optio at nam eaque!" h5Font="10pt" h5Weight="bold"
    borderRadius="10px" />
    <!-- <Cards imageCard={megawati} -->
    TextH5="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque
    dolor, tempora optio at nam eaque!" h5Font="10pt" h5Weight="bold"
    borderRadius="10px" />
  </div>
</div>
) }

<!-- export default VideoMedia -->
