<!-- --------CEPOT----- -->

<div class="wrapperPartai">
    <div class="headers-bkbb">
        <div class="backgrounds-bkbb">

        </div>
    </div>
    <div class="linkedPartai">
        <!-- <BreadCrumbs link1="Home"
                        to1="/"
                        page2="Bung Karno Bapak Bangsa"
                         /> -->
    </div>

    <section class="lahirnyaPancasila col mx-auto">
        <div class="box-lahirnyaPancasila ">

            <div class="redBox mt-auto">
                <div class="col col-lg-4 red-box-title ">
                    <h2>Lahirnya Pancasila <br />1 Juni 1945</h2>
                </div>
                <div class="col col-lg-4 red-box-body">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quod delectus earum, eaque nemo
                        saepe laboriosam vitae facilis eveniet repellendus unde ducimus temporibus iusto doloremque est
                        illo. Ipsum, pariatur nulla.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="videoBungKarno col mx-auto">

        <iframe width='80%' height='90%' src="https://www.youtube.com/embed/aCOdCgUr9hI" frameBorder={0}
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen />

    </section>

    <section class="wrapper3">
        <div class="col3-container-3" style="margin :2rem 0" style="padding : 0px 10%">
            <div class="box-jdl-col3">
                <p class="txt-jdl-col3">
                    <!-- {text} -->
                </p>
            </div>
            <div class="box-garis-lurus-col3">
                <div class="garis-merah" style="width:100px;">

                </div>
            </div>
        </div>
    </section>

    <!-- Card -->

    <div class="wrapperCard">
        <div class="cardKolum">

            <!-- <Cards imageCard={bkbbCard1}
            borderRadius="10px"
            TextH5="INDONESIA MENGGUGAT TAHUN 1930"
            paragrap="Pidato Pembelaan Bung Karno di Muka Hakim Kolonial"
            h5Weight="bold" />
    <Cards imageCard={bkbbCard2}
            borderRadius="10px"
            TextH5="KAPITALISME BANGSA SENDIRI TAHUN 1932"
            paragrap="Lorem ipsum dolor sit amet, consectetur adipisicing elit"
            h5Weight="bold" />
    <Cards imageCard={bkbbCard3}
            borderRadius="10px"
            TextH5="MENCAPAI INDONESIA MERDEKA TAHUN 1933"
            paragrap="Lorem ipsum dolor sit amet, consectetur adipisicing elit"
            h5Weight="bold" /> -->


        </div>

    </div>
</div>

<div class="btnLihatSemua">
    <!-- <MainButton name="lihat semua"
                    margin="1rem 0"
                    pages="/materipokok" /> -->
</div>

<div class="bannerBkbb">
    <img src={Double} alt="" class="custom" />
    <h4 class="custom">BARANG SIAPA JANG INGIN MUTIARA HARUS<br />BERANI TERJUN DI LAUTAN JANG DALAM. </h4>
    <h5 class="custom">JANGANLAH LEMBEK, MOHON PADA TUHAN SUPAYA BANGSA INDONESIA<br />MEJADI SATU BANGSA YANG JAYA DI
        DUNIA, MENJADI BANGSA KUAT DAN TABAH</h5>
    <img src={Double} alt="" class="custom" />
    <small>Bung Karno, 17 Agustus 1946</small>
</div>

<div class="wrapperQuotes">
    <img src={quotes1} alt="" width="300" />
    <img src={quotes2} alt="" width="300" />
    <img src={quotes3} alt="" width="300" />
</div>

<a as='div' class="btnLihatSemua" href='quotes'>
    <!-- <MainButton name="lihat semua"
                    margin="1rem 0" /> -->
</a>

<div class="backGroundGray">

</div>
</div>

<!-- wejangan -->

<div class="wrapperBkbbWejangan">
    <div class="headers">
        <div class="backgrounds">
            <div class="textBackgroundBerita">

            </div>
        </div>
    </div>
    <div class="linkedBerita">
        <i class="fa fa-home">
            <span>Home / Bung Karno Bapak Bangsa</span>
        </i>
    </div>

    {/* Container1 */}
    <div class="container-1">
        {/* Column1 */}
        <div class="col1-container-1">
            {/* Row1 */}
            <div class="row1">
                <div class="box-quotes">
                    <!-- <i class="fas fa-quote-right" style={{color : '#d80010'}}></i> -->

                    <p class="txt1">
                        BARANG SIAPA JANG INGIN MUTIARA HARUS BERANI TERJUN DI LAUTAN JANG DALAM.
                    </p>

                    <br />

                    <p class="txt2">
                        JANGANLAH LEMBEK, MOHON PADA TUHAN SUPAYA BANGSA INDONESIA MENJADI SATU BANGSA YANG JAYA DI
                        DUNIA, MENJADI BANGSA. KUAT DAN TABAH
                    </p>

                    <i class="fas fa-quote-right"></i>

                    <p class="txt3">
                        Bung Karno, 17 Agustus 1946
                    </p>
                </div>
            </div>
            {/* END Row1 */}

            {/* Row2 */}
            <div class="row2">
                <p class="txt1">
                    Admin PDI Perjuangan | 1 Januari 2019
                </p>

                <p class="txt2">
                    Barang siapa jang ingin mutiara harus berani terjun di lautan jang dalam. Janglah lembek, mohon pada
                    Tuhan supaya bangsa Indonesia menjadi satu bangsa yang jaya di dunia, menjadi bangsa. Kuat dan tabah
                </p>

                <br />

                <p class="txt3">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis rerum esse nihil. Reiciendis
                    illum et voluptate quisquam, consequatur id laudantium?
                </p>

                <p class="txt4">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad eligendi neque saepe cupiditate, porro
                    maiores officia, sequi voluptate, amet exercitationem incidunt veniam. Mollitia soluta laborum quae
                    quisquam aliquam neque illum. Dolores incidunt quos iure nobis rem laborum doloremque quasi beatae
                    ad natus! Sequi, quos doloribus. Quod sequi animi illum numquam?
                </p>

                <div class="box-medsos">
                    <div class="socialMedia">
                        <small>SHARE : </small>
                        <i class="fa fa-facebook"></i>
                        <i class="fa fa-twitter"></i>
                        <i class="fa fa-instagram"></i>
                        <i class="fa fa-whatsapp"></i>
                    </div>
                </div>
            </div>
            {/* END Row2 */}
        </div>
        {/* END Column1 */}
    </div>
    {/* END Container1 */}

    {/* Container2 */}
    <div class="container-2">
        {/* Column1 */}
        <div class="col1-container-2">
            {/* Image 1 */}
            <div class="img img1">
                <i class="fas fa-quote-right"></i>

                <p class="txt1">
                    NASIONALISME KITA ADALAH NASIONALISME YANG MEMBUAT KITA MENJADI "PERKAKASNYA TUHAN", DAN MEMBUAT
                    KITA MENJADI "HIDUP DI DALAM ROH."
                </p>

                <i class="fas fa-quote-right"></i>

                <p class="txt2">
                    Soekarno, Suluh Indonesia Muda, 1928
                </p>
            </div>
            {/* Image 1 */}

            {/* Image 2 */}
            <div class="img img2">
                <i class="fas fa-quote-right"></i>

                <p class="txt1">
                    ORANG TIDAK DAPAT MENGABDI KEPADA TUHAN DENGAN TIDAK MENGABDI KEPADA SESAMA MANUSIA. TUHAN
                    BERSEMAYAM DI GUBUKNYA SI MISKIN
                </p>

                <i class="fas fa-quote-right"></i>

                <p class="txt2">
                    Soekarno, 23 Oktober 1946
                </p>
            </div>
            {/* Image 2 */}

            {/* Image 3 */}
            <div class="img img3">
                <i class="fas fa-quote-right"></i>

                <p class="txt1">
                    TUJUAN SAYA IALAH UNTUK MENJADI PEMBANGUNAN SUATU BANGSA
                </p>

                <i class="fas fa-quote-right"></i>

                <p class="txt2">
                    Soekarno, Suluh Indonesia Muda, 1922
                </p>
            </div>
            {/* END Image 3 */}
        </div>
        {/* END Column1 */}

        {/* Column2 */}
        <div class="col2-container-2">
            <button class="btn-lihat-semua">
                LIHAT SEMUA
            </button>
        </div>
        {/* END Column2 */}
    </div>
    {/* END Container2 */}
</div>