<!-- uta -->


<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel" data-interval="0">


    <div class="carousel-indicators">
        <small data-target="#carouselExampleIndicators" data-slide-to={0} class="active indikator">01</small>
        <small data-target="#carouselExampleIndicators" data-slide-to={1} class="indikator">02</small>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row image1">
                <div class="col col-lg-6 mr-auto text1">
                    <h1>Lorem ipsum dolor sit amet consectetur</h1>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maxime soluta aut nobis tempore earum
                        velit, fugit nostrum ratione modi praesentium. Praesentium tempora a dicta fugiat numquam quidem
                        consequuntur ad sint.</p>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row image2">
                <div class="col col-lg-6 mr-auto text2">
                    <h1>Lorem ipsum dolor sit amet consectetur</h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Non suscipit exercitationem enim
                        nesciunt, esse, hic accusantium in blanditiis repellat at aperiam magni ab? Ullam sequi possimus
                        mollitia, maiores assumenda facilis!</p>
                </div>
            </div>
        </div>
    </div>


    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <div class="prev-text">
            <span>PREV</span>
            <img src={arrowKiri} alt="" width="35" />

        </div>
    </a>

    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <div class="prev-text">
            <span>NEXT</span>
            <img src={arrowKanan} alt="" width="35" />
        </div>

    </a>
</div>